<% content_for(:title) { t(".sign_in") } %>
<% turbo_page_requires_reload %>

<div class="mb-4 text-center">
    <h1 class="mb-px"><%= t(".sign_in") %></h1>
    <%#= t(".sign_up_html", link: link_to("sign up for an account", new_registration_path, class: "font-semibold")) %>
</div>

<%= form_with(url: session_path, class: "contents") do |form| %>
  <div class="form-group">
    <%= form.label :email_address %>
    <%= form.email_field :email_address, required: true, class: "form-control", autofocus: true, autocomplete: "username", placeholder: t(".email_address_placeholder"), value: params[:email_address] %>
  </div>

  <div class="form-group">
    <%= form.label :password %>
    <%= form.password_field :password, required: true, class: "form-control", autocomplete: "current-password", placeholder: t(".password_placeholder"), maxlength: 72 %>
  </div>

  <div class="form-group">
    <%= form.submit t(".sign_in"), id: "log_in", class: "btn btn-primary btn-expanded" %>
  </div>
<% end %>
