<nav class="sticky top-16 hidden max-h-[calc(100dvh-(--spacing(16)))] w-48 shrink-0 overflow-y-auto pt-12 pb-16 lg:block">
  <ul role="list" class="p-2">
    <li>
      <%= active_link_to super_admin_root_path,
            class: "group flex gap-x-3 rounded-md p-2 text-sm font-semibold leading-6 text-foreground",
            active_class: "bg-secondary",
            inactive_class: "hover:bg-secondary" do %>
        <%= lucide_icon "house", class: "h-6 w-6 shrink-0 text-muted-foreground" %>
        Dashboard
      <% end %>
    </li>
    <li class="mt-6">
      <%= active_link_to "#TODO",
            class: "flex w-full items-center gap-x-3 rounded-md p-2 text-left text-sm font-semibold leading-6 text-foreground hover:bg-secondary",
            active_class: "bg-secondary",
            inactive_class: "hover:bg-secondary" do %>
        <%= lucide_icon "users", class: "h-6 w-6 shrink-0 text-muted-foreground" %>
        Resources
      <% end %>
      <ul role="list" class="mt-4 border-l border-border">
        <li>
          <%= active_link_to super_admin_users_path,
                class: "block rounded-md py-2 pl-9 pr-2 text-sm leading-6 text-foreground",
                active_class: "bg-secondary",
                inactive_class: "hover:bg-secondary" do %>
            Users
          <% end %>
        </li>
        <li>
          <%= active_link_to super_admin_posts_path,
                class: "block rounded-md py-2 pl-9 pr-2 text-sm leading-6 text-foreground",
                active_class: "bg-secondary",
                inactive_class: "hover:bg-secondary" do %>
            Posts
          <% end %>
        </li>
        <li>
          <%= active_link_to super_admin_organizations_path,
                class: "block rounded-md py-2 pl-9 pr-2 text-sm leading-6 text-foreground",
                active_class: "bg-secondary",
                inactive_class: "hover:bg-secondary" do %>
            Organizations
          <% end %>
        </li>
      </ul>
    </li>
    <li class="mt-6">
      <%= active_link_to "#TODO",
            class: "flex w-full items-center gap-x-3 rounded-md p-2 text-left text-sm font-semibold leading-6 text-foreground hover:bg-secondary",
            active_class: "bg-secondary",
            inactive_class: "hover:bg-secondary",
            aria: { controls: "sub-menu-docs", expanded: "false" } do %>
        <%= lucide_icon "files", class: "h-6 w-6 shrink-0 text-muted-foreground" %>
        Docs
      <% end %>
      <ul class="mt-4 border-l border-border">
        <li>
          <%= active_link_to super_admin_docs_introduction_path,
                class: "block rounded-md py-2 pl-9 pr-2 text-sm leading-6 text-foreground",
                active_class: "bg-secondary",
                inactive_class: "hover:bg-secondary" do %>
            Introduction
          <% end %>
        </li>
        <li>
          <%= active_link_to super_admin_docs_installation_path,
                class: "block rounded-md py-2 pl-9 pr-2 text-sm leading-6 text-foreground",
                active_class: "bg-secondary",
                inactive_class: "hover:bg-secondary" do %>
            Installation
          <% end %>
        </li>
        <li>
          <%= active_link_to super_admin_docs_configuration_path,
                class: "block rounded-md py-2 pl-9 pr-2 text-sm leading-6 text-foreground",
                active_class: "bg-secondary",
                inactive_class: "hover:bg-secondary" do %>
            Configuration
          <% end %>
        </li>
        <li>
          <%= active_link_to super_admin_docs_deploying_path,
                class: "block rounded-md py-2 pl-9 pr-2 text-sm leading-6 text-foreground",
                active_class: "bg-secondary",
                inactive_class: "hover:bg-secondary" do %>
            Deploying
          <% end %>
        </li>
      </ul>
    </li>
    <li class="mt-6">
      <%= active_link_to super_admin_docs_components_path,
        class: "flex w-full items-center gap-x-3 rounded-md p-2 text-left text-sm font-semibold leading-6 text-foreground hover:bg-secondary",
        active_class: "bg-secondary",
        inactive_class: "hover:bg-secondary" do %>
        <%= lucide_icon "pie-chart", class: "h-6 w-6 shrink-0 text-muted-foreground" %>
        Components
      <% end %>
      <ul class="mt-4 border-l border-border">
        <li>
          <%= active_link_to super_admin_docs_components_accordion_path,
                class: "block rounded-md py-2 pl-9 pr-2 text-sm leading-6 text-foreground",
                active_class: "bg-secondary",
                inactive_class: "hover:bg-secondary" do %>
            Accordion
          <% end %>
        </li>
        <li>
          <%= active_link_to super_admin_docs_components_alert_path,
                class: "block rounded-md py-2 pl-9 pr-2 text-sm leading-6 text-foreground",
                active_class: "bg-secondary",
                inactive_class: "hover:bg-secondary" do %>
            Alert
          <% end %>
        </li>
        <li>
          <%= active_link_to super_admin_docs_components_avatar_path,
                class: "block rounded-md py-2 pl-9 pr-2 text-sm leading-6 text-foreground",
                active_class: "bg-secondary",
                inactive_class: "hover:bg-secondary" do %>
            Avatar
          <% end %>
        </li>
        <li>
          <%= active_link_to super_admin_docs_components_badge_path,
                class: "block rounded-md py-2 pl-9 pr-2 text-sm leading-6 text-foreground",
                active_class: "bg-secondary",
                inactive_class: "hover:bg-secondary" do %>
            Badge
          <% end %>
        </li>
        <li>
          <%= active_link_to super_admin_docs_components_breadcrumb_path,
                class: "block rounded-md py-2 pl-9 pr-2 text-sm leading-6 text-foreground",
                active_class: "bg-secondary",
                inactive_class: "hover:bg-secondary" do %>
            Breadcrumb
          <% end %>
        </li>
        <li>
          <%= active_link_to super_admin_docs_components_button_path,
                class: "block rounded-md py-2 pl-9 pr-2 text-sm leading-6 text-foreground",
                active_class: "bg-secondary",
                inactive_class: "hover:bg-secondary" do %>
            Button
          <% end %>
        </li>
        <li>
          <%= active_link_to super_admin_docs_components_card_path,
                class: "block rounded-md py-2 pl-9 pr-2 text-sm leading-6 text-foreground",
                active_class: "bg-secondary",
                inactive_class: "hover:bg-secondary" do %>
            Card
          <% end %>
        </li>
        <li>
          <%= active_link_to super_admin_docs_components_dropdown_menu_path,
                class: "block rounded-md py-2 pl-9 pr-2 text-sm leading-6 text-foreground",
                active_class: "bg-secondary",
                inactive_class: "hover:bg-secondary" do %>
            Dropdown Menu
          <% end %>
        </li>
        <li>
          <%= active_link_to super_admin_docs_components_forms_path,
                class: "block rounded-md py-2 pl-9 pr-2 text-sm leading-6 text-foreground",
                active_class: "bg-secondary",
                inactive_class: "hover:bg-secondary" do %>
            Forms
          <% end %>
        </li>
        <li>
          <%= active_link_to super_admin_docs_components_popover_path,
                class: "block rounded-md py-2 pl-9 pr-2 text-sm leading-6 text-foreground",
                active_class: "bg-secondary",
                inactive_class: "hover:bg-secondary" do %>
            Popover
          <% end %>
        </li>
        <li>
          <%= active_link_to super_admin_docs_components_tabs_path,
                class: "block rounded-md py-2 pl-9 pr-2 text-sm leading-6 text-foreground",
                active_class: "bg-secondary",
                inactive_class: "hover:bg-secondary" do %>
            Tabs
          <% end %>
        </li>
        <li>
          <%= active_link_to super_admin_docs_components_toast_path,
                class: "block rounded-md py-2 pl-9 pr-2 text-sm leading-6 text-foreground",
                active_class: "bg-secondary",
                inactive_class: "hover:bg-secondary" do %>
            Toast
          <% end %>
        </li>
      </ul>
    </li>
  </ul>
</nav>
