<nav class="sticky top-16 hidden max-h-[calc(100dvh-(--spacing(16)))] w-48 shrink-0 overflow-y-auto pt-12 pb-16 lg:block">
  <ul role="list" class="p-2">
    <li>
      <%= active_link_to super_admin_root_path,
            class: "group flex gap-x-3 rounded-md p-2 text-sm font-semibold leading-6 text-foreground",
            active_class: "bg-secondary",
            inactive_class: "hover:bg-secondary" do %>
        <%= lucide_icon "house", class: "h-6 w-6 shrink-0 text-muted-foreground" %>
        Dashboard
      <% end %>
    </li>
    <li class="mt-6">
      <%= active_link_to "#TODO",
            class: "flex w-full items-center gap-x-3 rounded-md p-2 text-left text-sm font-semibold leading-6 text-foreground hover:bg-secondary",
            active_class: "bg-secondary",
            inactive_class: "hover:bg-secondary" do %>
        <%= lucide_icon "users", class: "h-6 w-6 shrink-0 text-muted-foreground" %>
        Resources
      <% end %>
      <ul role="list" class="mt-4 border-l border-border">
        <li>
          <%= active_link_to super_admin_organizations_path,
                class: "block rounded-md py-2 pl-9 pr-2 text-sm leading-6 text-foreground",
                active_class: "bg-secondary",
                inactive_class: "hover:bg-secondary" do %>
            Organizations
          <% end %>
        </li>
      </ul>
    </li>
    <li class="mt-6">
      <%= active_link_to super_admin_feedbackbin_elements.root_path,
        class: "group flex gap-x-3 rounded-md p-2 text-sm font-semibold leading-6 text-foreground",
        active_class: "bg-secondary",
        inactive_class: "hover:bg-secondary" do %>
        <%= lucide_icon "pie-chart", class: "h-6 w-6 shrink-0 text-muted-foreground" %>
        Components
      <% end %>
    </li>
  </ul>
</nav>
