<%# locals: (idea:) %>

<%= link_to idea, class: "display-block roadmap-idea-card" do %>
  <div class="panel panel--compact">
    <h3 class="font-weight-medium txt-small overflow-line-clamp" style="--lines: 2; margin-block-end: var(--space-3);">
      <%= idea.title %>
    </h3>

    <div class="flex align-center flex-wrap txt-x-small txt-subtle gap-2">
      <%= render Elements::BadgeComponent.new(
        variant: :outline,
        class: "txt-subtle"
      ) do %>
        <%= idea.board.name %>
      <% end %>

      <span class="flex-inline align-center gap-1">
        <%= lucide_icon "arrow-up", style: "inline-size: 0.75rem; block-size: 0.75rem;" %>
        <%= idea.votes_count %>
      </span>

      <span title="<%= l(idea.created_at, format: :long) %>">
        <%= time_ago_in_words(idea.created_at) %> <%= t(".ago") %>
      </span>
    </div>
  </div>
<% end %>
