<%# locals: (idea:) %>

  <li id="<%= dom_id idea %>" class="panel panel--interactive"
      data-navigable-list-target="item"
      tabindex="-1">
  <div class="pad-inline">
    <div class="flex gap" style="--column-gap: var(--space-3);">
      <%= render partial: "votes/vote_button", locals: { voteable: idea } %>
      <div class="flex-item-grow flex flex-column gap-3">
        <div class="flex align-start justify-space-between full-width gap-half margin-block-end-half">
          <h2 class="flex-1">
            <%= link_to idea.title, idea, class: "txt-x-large font-weight-bold overflow-line-clamp txt-undecorated", style: "--lines: 2;", data: { navigable_list_primary_action: "" } %>
          </h2>
          <div class="flex align-center gap-half flex-item-no-shrink">
            <% if idea.pinned? %>
              <%= render Elements::BadgeComponent.new(variant: :secondary) do %>
                <%= lucide_icon "map-pin" %>
                <%= t(".pinned") %>
              <% end %>
            <% end %>
            <%= render Elements::BadgeComponent.new(color: idea.status_color) do %>
              <%= idea.status_name %>
            <% end %>
          </div>
        </div>

        <%= render "ideas/idea/metadata", idea: idea %>

        <div class="margin-block-start-half flex align-center gap-half txt-x-small">
          <%= avatar_tag idea.creator, class: "avatar avatar--sm", alt: idea.creator.name %>
          <p>
            <%= link_to idea.creator.name, idea.creator, class: "txt-undecorated" %>
          </p>
          <%= lucide_icon "dot" %>
          <p>
            <%= time_ago_with_tooltip idea.created_at %>
          </p>
        </div>
        <p class="margin-block-start-half txt-subtle txt-small">
          <%= truncate(strip_tags(idea.description.to_s), length: 250, separator: " ") %>
        </p>

        <%= render "ideas/idea/footer", idea: idea %>
      </div>
    </div>
  </div>
</li>
