<%# locals: (idea:) %>

<span id="idea-status-badge">
  <% if Current.user&.admin? %>
    <%= render Elements::DropdownMenuComponent.new do |dropdown| %>
      <% dropdown.with_trigger(
        type: "button",
        class: "flex-inline align-center txt-reversed txt-x-small font-weight-semibold",
        style: "background-color: #{idea.status_color}; border-radius: 9999px; padding-inline: 0.625rem; padding-block: 0.125rem; transition: opacity var(--duration-fast);"
      ) do %>
        <%= idea.status_name %>
      <% end %>

      <% dropdown.with_item_content(
        id: "idea-status-open",
        href: idea_status_path(idea),
        method: :patch,
        params: { status_id: nil },
        class: idea.open? ? "fill-selected" : nil
      ) do %>
        <span class="flex-item-no-shrink" style="inline-size: 0.75rem; block-size: 0.75rem; border-radius: 50%; background-color: <%= Idea::DEFAULT_STATUS_COLOR %>;"></span>
        <span><%= t("ideas.default_status") %></span>
        <% if idea.open? %>
          <span class="margin-inline-start-auto">
            <%= lucide_icon("check", class: "size-4") %>
          </span>
        <% end %>
      <% end %>

      <% Status.ordered.each do |status| %>
        <% dropdown.with_item_content(
          id: "idea-status-#{status.id}",
          href: idea_status_path(idea),
          method: :patch,
          params: { status_id: status.id },
          class: status.id == idea.status_id ? "fill-selected" : nil
        ) do %>
          <span class="flex-item-no-shrink" style="inline-size: 0.75rem; block-size: 0.75rem; border-radius: 50%; background-color: <%= status.color %>;"></span>
          <span><%= status.name %></span>
          <% if status.id == idea.status_id %>
            <span class="margin-inline-start-auto">
              <%= lucide_icon("check", class: "size-4") %>
            </span>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <%= render Elements::BadgeComponent.new(class: "txt-reversed font-weight-medium", style: "background-color: #{idea.status_color};") do %>
      <%= idea.status_name %>
    <% end %>
  <% end %>
</span>
