<%# locals: (idea:) %>
<div id="<%= dom_id(idea, :tags) %>" class="flex flex-wrap align-center gap">
  <% if Current.user&.can_administer_idea?(idea) %>
    <div data-controller="dialog"
          data-action="keydown.esc->dialog#close click@document->dialog#closeOnClickOutside">
      <%= render Elements::ButtonComponent.new(
            variant: :outline,
            size: :sm,
            data: {
              controller: "hotkey",
              action: "click->dialog#open:stop keydown.t@document->hotkey#click"
            }
          ) do %>
        <%= lucide_icon "tag", class: "size-4" %>
        <span class="visually-hidden"><%= t(".add_tag") %></span>
      <% end %>

      <dialog class="border-radius border fill-popover pad"
              style="box-shadow: var(--shadow-md); min-inline-size: 20rem; max-inline-size: 28rem;"
              data-dialog-target="dialog"
              data-action="turbo:before-morph-attribute->dialog#preventCloseOnMorphing turbo:submit-end->dialog#close">
        <%= turbo_frame_tag idea, :tagging, src: new_idea_tagging_path(idea), loading: :lazy, refresh: :morph %>
      </dialog>
    </div>
  <% end %>

  <% if idea.tags.any? %>
    <% idea.tags.each do |tag| %>
      <%= render "tags/tag", tag: tag, idea: idea, removable: false %>
    <% end %>
  <% end %>
</div>
