<%= content_for :title, @idea.title %>
<%= turbo_stream_from @idea %>

<section class="container pad-inline margin-block-start">
  <div class="flex flex-column" style="gap: var(--space-6);">
    <div>
      <%= link_to ideas_path, class: "flex-inline align-center gap-half txt-small txt-subtle txt-undecorated" do %>
        <%= lucide_icon "chevron-left", class: "size-4" %>
        <span><%= t(".back_to_ideas") %></span>
      <% end %>
    </div>

    <%= render Elements::CardComponent.new do |c| %>
      <% c.with_body(class: "pad") do %>
        <div class="flex align-start gap" style="--column-gap: var(--space-3);">
        <div style="padding-block-start: var(--space-1);">
          <%= render partial: "votes/vote_button", locals: { voteable: @idea } %>
        </div>
        <div class="flex-item-grow">
          <div class="flex align-center justify-space-between gap-half margin-block-end-half">
            <div class="flex align-center flex-wrap gap-half">
            <% if @idea.board %>
                <%= render Elements::BadgeComponent.new(
                  variant: :outline,
                  class: "gap-half txt-subtle"
                ) do %>
                  <span class="flex-item-no-shrink" style="inline-size: 0.5rem; block-size: 0.5rem; border-radius: var(--radius-full); background-color: <%= @idea.board.color %>;"></span>
                  <span><%= @idea.board.name %></span>
                <% end %>
              <% end %>

              <span id="idea-pinned-badge">
                <% if @idea.pinned? %>
                  <%= render Elements::BadgeComponent.new(variant: :secondary) do %>
                    <%= lucide_icon "map-pin" %>
                    <%= t(".pinned") %>
                  <% end %>
                <% end %>
              </span>
            </div>

            <div class="flex align-center gap-half">
              <%= render "ideas/status_badge", idea: @idea %>

              <% if Current.user&.can_administer_idea?(@idea) %>
                <%= render Elements::DropdownMenuComponent.new do |dropdown| %>
                  <% dropdown.with_trigger(variant: :ghost, size: :icon, class: "txt-subtle") do %>
                    <%= lucide_icon("ellipsis") %>
                  <% end %>

                  <% dropdown.with_item_content(href: edit_idea_path(@idea)) do %>
                    <%= t("edit") %>
                  <% end %>

                  <% if Current.user&.admin? %>
                    <% if @idea.pinned? %>
                      <% dropdown.with_item_content(
                        id: "idea-pin-button",
                        href: idea_pin_path(@idea),
                        method: :delete
                      ) do %>
                        <%= t(".unpin") %>
                      <% end %>
                    <% else %>
                      <% dropdown.with_item_content(
                        id: "idea-pin-button",
                        href: idea_pin_path(@idea),
                        method: :post
                      ) do %>
                        <%= t(".pin") %>
                      <% end %>
                    <% end %>
                  <% end %>

                  <% dropdown.with_item_separator %>
                  <% dropdown.with_item_content(
                    href: @idea,
                    method: :delete,
                    form: { data: { turbo_confirm: t("are_you_sure") } },
                    class: "txt-negative"
                  ) do %>
                    <%= t("delete") %>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>

          <h1 class="txt-xx-large font-weight-bold margin-block-end-half"><%= @idea.title %></h1>

          <%= render "ideas/tags", idea: @idea %>

          <div class="flex align-center gap-half txt-small margin-block-end">
            <%= avatar_tag @idea.creator, class: "avatar avatar--sm" %>
            <%= link_to @idea.creator.name, @idea.creator, class: "font-weight-medium txt-undecorated" %>
            <%= lucide_icon "dot" %>
            <%= time_ago_with_tooltip @idea.created_at %>
          </div>

          <div class="prose max-width" data-controller="syntax-highlight">
            <%= @idea.description %>
          </div>

          <!-- Bottom: user actions and participants -->
          <div class="margin-block-start flex flex-wrap align-center justify-space-between gap">
            <div class="flex flex-wrap align-center gap-half">
              <%= turbo_frame_tag @idea, :watch, src: idea_watch_path(@idea) do %>
                <%= render Elements::ButtonComponent.new(variant: :outline, disabled: true) do %>
                  <%= lucide_icon "bell-off" %>
                  <%= t(".watch") %>
                <% end %>
              <% end %>
              <%= render Elements::ButtonComponent.new(variant: :outline) do %>
                <%= lucide_icon "share" %>
                <%= t(".share") %>
              <% end %>
            </div>

            <% if Current.user&.can_administer_idea?(@idea) %>
              <%= render "tags/tagging_menu", idea: @idea %>
            <% end %>

            <%= render "ideas/participants", idea: @idea %>
          </div>
        </div>
        </div>
      <% end %>
    <% end %>

    <%= render partial: "comments/comments", locals: {
      comment: @comment,
      idea: @idea,
      top_level_comments: @top_level_comments,
      comment_sort: @comment_sort
    } %>
  </div>
</section>
