<%# locals: (comment:) %>

<%= turbo_frame_tag dom_id(comment), class: "display-block pad-block", style: "scroll-margin-block-start: var(--space-4);" do %>
  <% if comment.creator.system? %>
    <div class="system-comment">
      <div class="flex align-center gap-half">
        <%= lucide_icon("info", class: "size-4 txt-subtle") %>
        <div class="flex-1">
          <p class="system-comment__content">
            <%= sanitize(comment.body, tags: %w[strong]) %>
          </p>
        </div>
        <%= local_datetime_tag comment.created_at, style: :datetime, class: "txt-x-small txt-subtle" %>
      </div>
    </div>
  <% else %>
    <div class="txt-normal fill-card border border-radius">
      <div class="pad">
        <div class="flex">
          <div class="margin-inline-end">
            <%= render partial: "votes/vote_button", locals: { voteable: comment } %>
          </div>
          <div class="flex-1 min-width">
            <div class="flex justify-space-between align-center margin-block-end-half">
              <div class="flex align-center">
                <%= avatar_tag comment.creator, class: "avatar avatar--sm", alt: comment.creator.name, style: "margin-inline-end: var(--space-2);" %>

                <p class="flex-inline flex-column align-start margin-inline-end txt-small txt-ink">
                  <span class="font-weight-bold"><%= comment.creator.name %></span>
                  <%= link_to idea_path(comment.idea, anchor: dom_id(comment)), class: "txt-small txt-subtle txt-underline", data: { turbo_frame: "_top" } do %>
                    <%= local_datetime_tag comment.created_at, style: :datetime %>
                  <% end %>
                </p>
              </div>
              <%= render Elements::DropdownMenuComponent.new do |dropdown| %>
                <% dropdown.with_trigger(variant: :ghost, size: :icon, class: "txt-subtle") do %>
                  <%= lucide_icon("ellipsis") %>
                  <span class="visually-hidden"><%= t(".comment_settings") %></span>
                <% end %>

                <% if Current.user&.can_administer_comment?(comment) %>
                  <% dropdown.with_item_content(href: edit_idea_comment_path(comment.idea, comment)) do %>
                    <%= t("edit") %>
                  <% end %>
                  <% dropdown.with_item_content(
                    href: idea_comment_path(comment.idea, comment),
                    method: :delete,
                    form: { data: { turbo_confirm: t("are_you_sure") } }
                  ) do %>
                    <%= t("remove") %>
                  <% end %>
                <% end %>

                <% dropdown.with_item_content(
                  href: "#",
                  data: {
                    controller: "copy-to-clipboard",
                    copy_to_clipboard_content_value: idea_url(comment.idea, anchor: dom_id(comment)),
                    action: "click->copy-to-clipboard#copy"
                  }
                ) do %>
                  <%= t(".copy_link") %>
                <% end %>

                <% dropdown.with_item_content(href: "#") do %>
                  <%= t("report") %>
                <% end %>
              <% end %>
            </div>
            <div class="txt-subtle" data-controller="syntax-highlight">
              <%= comment.body %>
            </div>

            <div class="margin-block-start-half flex align-center justify-space-between gap">
              <%= render "reactions/reactions", reactable: comment %>

              <% if comment.replies.any? %>
                <span class="txt-small txt-subtle">
                  <%= t(".replies_count", count: comment.replies.size) %>
                </span>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <% if comment.replies.any? || authenticated? %>
        <div class="replies-section">
          <div id="<%= dom_id(comment) %>_replies">
            <%= render partial: "comments/reply", collection: comment.replies.ordered, as: :reply %>
          </div>

          <% if authenticated? %>
            <div id="<%= dom_id(comment) %>_reply_form" class="pad">
              <%= render partial: "comments/thread_reply_form", locals: { parent: comment } %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
