<%# locals: (comment:, idea:, top_level_comments:, comment_sort: :oldest) %>

<%= render Elements::CardComponent.new do |c| %>
    <% c.with_body(style: "padding: var(--space-6);") do %>
      <%= turbo_frame_tag "idea_#{idea.id}_comments_section" do %>
        <div class="flex flex-wrap align-center justify-space-between gap-half margin-block-end">
          <h2 class="txt-large font-weight-bold" style="letter-spacing: -0.025em;">
            <%= t(".comments_title_with_count", comment_count: idea.comments_count) %>
          </h2>

          <% if top_level_comments.any? %>
            <div class="flex align-center gap-half txt-small">
              <% %i[oldest newest top].each do |sort_option| %>
                <%= link_to t(".sort.#{sort_option}"),
                      idea_path(idea, comment_sort: sort_option),
                      class: "pad-inline-half pad-block-end-half border-radius #{comment_sort == sort_option ? 'fill-primary txt-reversed' : 'txt-subtle'}",
                      style: "padding: var(--space-1) var(--space-3);",
                      data: { turbo_frame: "idea_#{idea.id}_comments_section" } %>
              <% end %>
            </div>
          <% end %>
        </div>

        <%= tag.div id: "idea_#{idea.id}_comments", class: "divide-y" do %>
          <%= render partial: "comments/comment", collection: top_level_comments %>
        <% end %>
      <% end %>

      <%= turbo_frame_tag "idea_comment_form", class: "margin-block-start" do %>
        <%= render partial: "comments/form", locals: { comment: comment, idea: idea } %>
      <% end %>
    <% end %>
<% end %>
