<%# locals: (comment:, post:) %>

<div class="space-y-4">
  <div class="flex items-center justify-between">
    <h2 class="text-lg sm:text-xl font-semibold">
      <%= turbo_frame_tag "post_#{post.id}_comment_count" do %>
        Discussion (<%= post.comments_count %>)
      <% end %>
    </h2>
  </div>
  <%= tag.div id: "post_#{post.id}_comments", class: "divide-y divide-gray-200 dark:divide-gray-800" do %>
    <%= render partial: "comments/comment", collection: post.comments.where(parent_id: nil).ordered %>
  <% end %>

  <%= turbo_frame_tag "post_#{post.id}_comment_form" do %>
    <%= render partial: "comments/form", locals: { comment: comment, post: post } %>
  <% end %>
</div>
