<section class="bg-white dark:bg-gray-900 antialiased">
  <div class="max-w-2xl mx-auto">
    <div class="flex justify-between items-center mb-6">
      <h2 class="text-lg lg:text-2xl font-bold text-gray-900 dark:text-white">
        <%= turbo_frame_tag "post_#{@post.id}_comment_count" do %>
          Discussion (<%= post.comments_count %>)
        <% end %>
      </h2>
      <button type="button" class="btn btn-secondary">
        Subscribe
      </button>
    </div>
    <%= render partial: "comments/form", locals: {comment: comment, post: post} %>

    <%= tag.div id: "post_#{@post.id}_comments", class: "divide-y divide-gray-200 dark:divide-gray-800" do %>
      <%= render partial: "comments/comment", collection: post.comments.where(parent_id: nil).ordered %>
    <% end %>
  </div>
</section>
