<%# locals: (comment:) %>
<% return if comment.internal? && !Current.user&.admin? %>

<%= turbo_frame_tag dom_id(comment), class: "display-block pad-block", style: "scroll-margin-block-start: var(--space-4);" do %>
  <% if comment.creator.system? %>
    <div class="system-comment">
      <div class="flex align-center gap-half">
        <%= lucide_icon("info", class: "size-4 txt-subtle") %>
        <div class="flex-1">
          <p class="system-comment__content">
            <%= sanitize(comment.body, tags: %w[strong]) %>
          </p>
        </div>
        <%= local_datetime_tag comment.created_at, style: :datetime, class: "txt-x-small txt-subtle" %>
      </div>
    </div>
  <% else %>
    <div class="panel panel--compact txt-normal <%= "comment--internal" if comment.internal? %>">
      <div class="panel__body">
        <div class="flex">
          <div class="margin-inline-end">
            <%= render partial: "votes/vote_button", locals: { voteable: comment } %>
          </div>
          <div class="flex-1 min-width">
            <%= render "comments/comment/header",
                       comment: comment,
                       timestamp_size: :small,
                       trigger_label: t("comments.comment.comment_settings") %>
            <%= render "comments/comment/body",
                       comment: comment,
                       replies_summary: true %>
          </div>
        </div>
      </div>

      <% can_reply = authenticated? && (!comment.idea.comments_locked? || Current.user.admin?) %>
      <% if comment.replies.any? || can_reply %>
        <div class="replies-section">
          <div id="<%= dom_id(comment) %>_replies">
            <% replies = comment.replies.ordered.to_a %>
            <% if replies.size >= 5 %>
              <%= render partial: "comments/reply", collection: replies.first(3), as: :reply %>
              <%= render "comments/comment/collapsed_replies_toggle",
                         comment: comment,
                         collapsed_replies: replies.drop(3) %>
            <% else %>
              <%= render partial: "comments/reply", collection: replies, as: :reply %>
            <% end %>
          </div>

          <% if can_reply %>
            <div id="<%= dom_id(comment) %>_reply_form" class="pad">
              <%= render partial: "comments/thread_reply_form", locals: { parent: comment } %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
