<%# locals: (comment:, post:) %>

<section>
  <div class="max-w-5xl mx-auto">
    <%= render_card(class: "p-4 md:p-6 lg:p-8") do %>
      <div class="flex items-center justify-between gap-3 mb-4">
        <h2 class="text-xl font-semibold tracking-tight">
          <%= turbo_frame_tag "post_#{@post.id}_comment_count" do %>
            Comments (<%= post.comments_count %>)
          <% end %>
        </h2>
        <%= render_button(variant: :outline) do %>
          <%= inline_svg_tag "icons/bell.svg" %>
          Subscribe
        <% end %>
      </div>

      <%= tag.div id: "post_#{@post.id}_comments", class: "divide-y divide-border" do %>
        <%= render partial: "comments/comment", collection: post.comments.where(parent_id: nil).ordered %>
      <% end %>

      <div class="mt-6">
        <%= render partial: "comments/form", locals: { comment: comment, post: post } %>
      </div>
    <% end %>
  </div>
</section>
