<%# locals: (comment:, idea:) %>

<% if authenticated? %>
  <%= turbo_frame_tag "idea_comment_form" do %>
    <div class="flex align-start">
      <%= form_with model: comment, url: idea_comments_path(idea), class: "margin-block full-width" do |form| %>
        <%= render "error_messages", resource: form.object %>
        <div class="comment-editor">
          <%= form.rich_text_area :body, id: "idea_#{idea.id}_new_comment_body", placeholder: t(".comment_placeholder") do %>
            <%= rich_text_prompts %>
          <% end %>
        </div>
        <div class="margin-block-start flex align-center gap justify-end">
          <%= form.submit class: "btn btn--primary" %>
          <%= link_to "Cancel", idea_comment_path(idea, comment), class: "btn btn--secondary" if form.object.persisted? %>
        </div>
      <% end %>
    </div>
  <% end %>
<% else %>
  <p class="margin-block txt-normal font-weight-bold txt-ink">
    <%= link_to "Sign up", sign_up_path, class: "font-weight-medium txt-link" %>
    or
    <%= link_to "login", sign_in_path, class: "font-weight-medium txt-link" %>
    to comment
  </p>
<% end %>
