<%# locals: (source_comment:, parent:, comment:, show_form: false) %>

<%= tag.div id: "#{dom_id(source_comment)}_reply_form", data: { comment_reply_target: "form" }, class: (show_form ? "" : "hidden").to_s do %>
  <div class="flex items-start">
    <%= form_with model: comment, url: idea_comments_path(parent.idea), class: "my-4 w-full" do |form| %>
      <%= render "error_messages", resource: form.object %>

      <%= form.hidden_field :parent_id, value: parent.id %>
      <%= hidden_field_tag :source_comment_id, source_comment.id %>

      <div class="bg-card border border-input rounded-md overflow-hidden focus-within:border-ring focus-within:ring-2 focus-within:ring-ring/50">
        <%= form.rich_text_area :body, id: "#{dom_id(source_comment)}_reply_body", row: 1, placeholder: t(".reply_placeholder") do %>
          <%= rich_text_prompts %>
        <% end %>
      </div>

      <div class="mt-5 flex items-center gap-4 justify-end">
        <% if form.object.persisted? %>
          <%= form.submit t(".update_reply"), class: "btn btn--primary" %>
          <%= link_to t("cancel"), idea_comment_path(parent.idea, parent), class: "btn btn--secondary" %>
        <% else %>
          <%= form.submit t(".create_reply"), class: "btn btn--primary" %>
          <%= button_tag t("cancel"), type: "button", class: "btn btn--secondary", data: { action: "click->comment-reply#toggle" } %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
