<%# locals: (comment:) %>

<%= turbo_frame_tag comment, data: { controller: "comment-reply" } do %>
  <%= tag.div class: "ml-8 p-4 lg:p-6 mb-6 text-base bg-card border border-border rounded-lg" do %>
    <div class="flex">
      <div class="w-full">
          <div class="flex justify-between items-center mb-2 w-full">
          <div class="flex items-center">
            <%= avatar_tag comment.creator, class: "mr-2 w-6 h-6 rounded-full", alt: comment.creator.name %>

            <a href="#" class="flex items-center">
                <p class="inline-flex flex-col md:flex-row items-start mr-3 text-sm text-foreground">
                    <span class="font-semibold"><%= comment.creator.name %></span>
                    <%= local_datetime_tag comment.created_at, style: :datetime, class: "text-sm text-muted-foreground md:ml-2" %>
                </p>
            </a>
          </div>
          <%= render Elements::DropdownMenuComponent.new do |dropdown| %>
            <% dropdown.with_trigger(variant: :ghost, size: :icon, class: "text-muted-foreground") do %>
              <%= lucide_icon("ellipsis") %>
              <span class="sr-only"><%= t(".sr_only.comment_settings") %></span>
            <% end %>

            <% dropdown.with_item_content(href: edit_comment_path(comment)) do %>
              <%= t("edit") %>
            <% end %>

            <% dropdown.with_item_content(
              href: comment_path(comment),
              method: :delete,
              form: { data: { turbo_confirm: t("are_you_sure") } }
            ) do %>
              <%= t("remove") %>
            <% end %>

            <% dropdown.with_item_content(href: "#") do %>
              <%= t("report") %>
            <% end %>
          <% end %>
        </div>
        <p class="text-muted-foreground">
          <%= comment.body %>
        </p>
      </div>
    </div>
  <% end %>
<% end %>
