<% content_for :title, t(".title") %>

<div class="center full-width" style="max-inline-size: 56rem;">
  <%= render partial: "admin/settings/header" %>

  <div style="margin-block-start: var(--space-8);">
    <div style="margin-block-end: var(--space-6);">
      <h2 class="txt-large font-weight-medium"><%= t(".title") %></h2>
      <p class="txt-small txt-subtle"><%= t(".description") %></p>
    </div>

    <%= render Elements::CardComponent.new do |c| %>
      <% c.with_body do %>
        <%= render "form", webhook: @webhook, show_url: false %>
      <% end %>
    <% end %>
  </div>
</div>
