<% content_for :title, t(".title") %>

<div class="center full-width" style="max-inline-size: 56rem;">
  <%= render partial: "admin/settings/header" %>

  <div style="margin-block-start: var(--space-8);">
    <div class="flex align-center justify-space-between" style="margin-block-end: var(--space-6);">
      <div>
        <h2 class="txt-large font-weight-medium"><%= t(".title") %></h2>
        <p class="txt-small txt-subtle"><%= t(".description") %></p>
      </div>
      <div class="txt-nowrap">
        <%= link_to t(".new_webhook"), new_admin_settings_webhook_path, class: "btn btn--primary" %>
      </div>
    </div>

    <% if @webhooks.any? %>
      <%= render Elements::CardComponent.new do |c| %>
        <% c.with_body(class: "unpad") do %>
          <ul role="list" class="divide-y">
          <% @webhooks.each do |webhook| %>
            <%= render "webhook", webhook: webhook %>
          <% end %>
          </ul>
        <% end %>
      <% end %>
    <% else %>
      <%= render Elements::CardComponent.new do |c| %>
        <% c.with_body(class: "txt-align-center", style: "padding: var(--space-8);") do %>
          <%= lucide_icon "webhook", class: "center size-12 txt-subtle" %>
          <h3 class="txt-large font-weight-semibold" style="margin-block-start: var(--space-4);"><%= t(".no_webhooks_title") %></h3>
          <p class="txt-small txt-subtle" style="margin-block-start: var(--space-2);"><%= t(".no_webhooks_description") %></p>
          <div style="margin-block-start: var(--space-6);">
            <%= link_to t(".new_webhook"), new_admin_settings_webhook_path, class: "btn btn--primary" %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
