<% if href.present? %>
  <%= link_to href, data: data, **options do %>
    <% if loading %>
      <div class="animate-spin mr-2">
        <%= lucide_icon "loader", class: "size-4" %>
      </div>
    <% end %>
    <%= text %>
  <% end %>
<% else %>
  <%= button_tag data: data, **options do %>
    <% if loading %>
      <div class="animate-spin mr-2">
        <%= lucide_icon "loader", class: "size-4" %>
      </div>
    <% end %>
    <%= text %>
  <% end %>
<% end %>
