<%= tag.div(data: { slot: "card" }, **options) do %>
  <% if title || description || header_action %>
    <div data-slot="card-header"
         class="@container/card-header grid auto-rows-min grid-rows-[auto_auto] items-start gap-1.5 px-6 has-data-[slot=card-action]:grid-cols-[1fr_auto] [.border-b]:pb-6">
      <% if header_action %>
        <div>
          <% if title %>
            <div data-slot="card-title" class="leading-none font-semibold"><%= title %></div>
          <% end %>

          <% if description %>
            <div data-slot="card-description" class="text-muted-foreground text-sm"><%= description %></div>
          <% end %>
        </div>
        <div data-slot="card-action">
          <%= header_action %>
        </div>
      <% else %>
        <% if title %>
          <div data-slot="card-title" class="leading-none font-semibold"><%= title %></div>
        <% end %>

        <% if description %>
          <div data-slot="card-description" class="text-muted-foreground text-sm"><%= description %></div>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <% if body %>
    <% if !block %>
      <div data-slot="card-content" class="px-6 text-sm"><%= body %></div>
    <% else %>
      <%= body %>
    <% end %>
  <% end %>

  <% if footer %>
    <div data-slot="card-footer" class="flex items-center px-6 [.border-t]:pt-6 text-sm">
      <%= footer %>
    </div>
  <% end %>
<% end %>
