<%= tag.div(**options) do %>
  <%= render_button(**trigger_button_options) do %>
    <%= trigger %>
  <% end %>
  <div
    data-dropdown-target="menu"
    data-dropdown-toggle-class="hidden"
    data-dropdown-open-value="false"
    class="<%= content_options[:class] %>">
    <%= content %>
  </div>
<% end %>
