<%= tag.div(**options) do %>
  <div data-popover-target="trigger">
    <%= trigger %>
  </div>
  <div
    data-popover-target="content"
    data-transition-enter="transition-opacity ease-in-out duration-300"
    data-transition-enter-from="opacity-0"
    data-transition-enter-to="opacity-100"
    data-transition-leave="transition-opacity ease-in-out duration-300"
    data-transition-leave-from="opacity-100"
    data-transition-leave-to="opacity-0"
    data-side="<%= side %>"
    data-align="<%= align %>"
    style="--side-offset: <%= side_offset %>px;"
    class="<%= content_options[:class] %> <%= content_position %>">
    <%= content %>
  </div>
<% end %>
