<%# locals: (accounts:, pagy:) %>

<%= render Elements::PanelComponent.new(class: "overflow-hidden") do |c| %>
  <% c.with_body(class: "unpad") do %>
    <div class="overflow-x">
    <table class="full-width txt-small">
      <thead class="border-bottom">
        <tr class="fill-shade">
          <th class="txt-align-start font-weight-semibold pad-inline-6 pad-block"><%= t(".account") %></th>
          <th class="txt-align-start font-weight-semibold pad-inline-6 pad-block"><%= t(".created") %></th>
          <th class="txt-align-center font-weight-semibold pad-inline-6 pad-block"><%= t(".actions") %></th>
        </tr>
      </thead>
      <tbody class="divide-y">
        <% if accounts.any? %>
          <% accounts.each do |account| %>
            <tr>
              <td class="pad-inline-6 pad-block">
                <div class="flex align-center gap-3">
                  <div class="flex-item-no-shrink">
                    <%= account_logo(account, size: :sm) %>
                  </div>
                  <div style="min-inline-size: 0;">
                    <div class="font-weight-medium overflow-ellipsis">
                      <%= account.name %>
                    </div>
                  </div>
                </div>
              </td>
              <td class="txt-subtle pad-inline-6 pad-block">
                <div class="txt-small">
                  <%= account.created_at.strftime("%b %d, %Y") %>
                </div>
                <div class="txt-x-small">
                  <%= time_ago_in_words(account.created_at) %> ago
                </div>
              </td>
              <td class="txt-align-center pad-inline-6 pad-block">
                <%= render Elements::ButtonComponent.new(
                  href: staff_account_path(account),
                  variant: :outline,
                  size: :sm,
                  data: { turbo_frame: "_top" }
                ) do %>
                  <%= t(".view_button") %>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="4" class="txt-align-center" style="padding-inline: var(--space-6); padding-block: var(--space-12);">
              <div class="center size-12 fill-shade flex align-center justify-center" style="margin-block-end: var(--space-4); border-radius: 9999px;">
                <%= lucide_icon "building.svg", class: "size-6 txt-subtle" %>
              </div>
              <h3 class="txt-small font-weight-medium margin-block-end-half"><%= t(".no_accounts_found") %></h3>
              <p class="txt-small txt-subtle">
                <% if params[:search].present? %>
                  <%= t(".try_adjusting_search") %>
                <% else %>
                  <%= t(".no_accounts_yet") %>
                <% end %>
              </p>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
  <% end %>
<% end %>

<div class="margin-block-start-double">
  <%= tag.div id: ("accounts" if first_page?(pagy.last)), class: "flex flex-column", style: "gap: var(--space-4);" do %>
    <div class="txt-align-center txt-small txt-subtle">
      <%== pagy.info_tag %>
    </div>
    <% if pagy.last > 1 %>
      <div class="flex justify-center">
        <%== pagy.series_nav(link_extra: 'data-turbo-frame="accounts_content"') %>
      </div>
    <% end %>
  <% end %>
</div>
