<%# locals: (heading:, description: nil) -%>

<div class="py-8" data-controller="tabs"
     data-tabs-active-tab-class="bg-white rounded-md shadow flex items-center justify-center gap-2 text-[13px] font-semibold focus:ring-4 focus:ring-blue-600 group dark:bg-neutral-800/90 dark:text-neutral-100 dark:focus:ring-blue-600/50"
     data-tabs-inactive-tab-class="bg-transparent rounded-md shadow-none flex items-center justify-center gap-2 text-[13px] font-semibold dark:text-neutral-300">

  <div class="mt-4 mb-3">
    <%= content_tag :h2, heading, class: "text-neutral-900 text-xl font-semibold dark:text-white scroll-mt-20 tracking-tight relative" %>
  </div>

  <% if description.present? %>
    <div class="prose prose-neutral dark:prose-invert mb-4">
      <p><%= description %></p>
    </div>
  <% end %>

  <div class="flex justify-end mb-4">
    <div class="inline-flex h-9 items-center text-muted-foreground rounded-lg bg-neutral-100 dark:bg-neutral-950">
      <button
        type="button"
        data-tabs-target="tab"
        data-action="click->tabs#change"
        aria-selected="true"
        class="px-3 py-1.5 inline-flex items-center justify-center whitespace-nowrap text-sm font-semibold rounded-md">
        <%= inline_svg_tag "icons/eye.svg", class: "size-4 text-neutral-500 dark:text-neutral-300 mr-2" %>
        <span>Preview</span>
      </button>
      <button
        type="button"
        data-tabs-target="tab"
        data-action="click->tabs#change"
        aria-selected="false"
        class="px-3 py-1.5 inline-flex items-center justify-center whitespace-nowrap text-sm font-semibold rounded-md">
        <%= inline_svg_tag "icons/code.svg", class: "size-4 text-neutral-500 dark:text-neutral-300 mr-2" %>
        <span>Code</span>
      </button>
    </div>
  </div>

  <div>
    <div data-tabs-target="panel" role="tabpanel" class="mt-2">
      <div class="bg-zinc-950 dark:bg-zinc-900 p-4 md:p-8 border border-neutral-200 rounded-xl dark:border-slate-700 min-h-[240px]">
        <div class="flex items-center gap-3 flex-wrap">
          <%= yield(:preview_example) %>
        </div>
      </div>
    </div>

    <div data-tabs-target="panel" role="tabpanel" class="hidden mt-2 ring-offset-background focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2">
      <div class="flex flex-col space-y-4">
        <div class="w-full rounded-md [&_pre]:my-0 [&_pre]:max-h-[350px] [&_pre]:overflow-auto">
          <div data-controller="admin--clipboard">
            <button data-action="click->admin--clipboard#copy"
              class="bg-white/10 backdrop-blur-sm p-1 rounded-lg absolute right-2 top-2 hover:bg-gradient-to-br hover:to-rose-600 hover:from-rose-400 transition ease-in-out w-duration-200"
              type="button">
              <%= inline_svg_tag "icons/clipboard.svg", class: "stroke-current text-white select-none size-5" %>
            </button>
            <pre data-controller="admin--highlight" class="mb-4 mt-6 max-h-[650px] overflow-x-auto rounded-xl bg-zinc-950 py-4 dark:bg-zinc-900"><code data-admin--clipboard-target="content" class="language-erb scrollbar relative rounded bg-muted px-[0.3rem] py-[0.2rem] font-mono text-sm"><%= yield(:code_example).to_param.strip %></code></pre>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
