<%# locals: (id: String) %>

<div class="not-prose group relative my-4 flex flex-col space-y-2">
  <% content = capture do %>
    <%= yield %>
  <% end %>

  <div class="relative w-full"
       data-controller="tabs"
       data-tabs-active-tab-class="border-b-blue-600 text-gray-900 dark:text-white"
       data-tabs-inactive-tab-class="border-b-transparent text-gray-500 dark:text-gray-400">

    <div class="flex items-center justify-between pb-3 border-b border-gray-200 dark:border-gray-700">
      <div class="inline-flex h-9 items-center w-full justify-start">
        <a href="#<%= id %>-preview"
           data-tabs-target="tab"
           data-action="click->tabs#change:prevent"
           class="inline-flex items-center justify-center whitespace-nowrap py-1 text-sm h-9 rounded-none px-4 pb-3 pt-2 font-semibold border-b-2 border-b-transparent text-gray-500 dark:text-gray-400">
          Preview
        </a>
        <a href="#<%= id %>-code"
           data-tabs-target="tab"
           data-action="click->tabs#change:prevent"
           class="inline-flex items-center justify-center whitespace-nowrap py-1 text-sm h-9 rounded-none px-4 pb-3 pt-2 font-semibold border-b-2 border-b-transparent text-gray-500 dark:text-gray-400">
          Code
        </a>
      </div>

      <div class="flex items-center gap-2">
        <button data-controller="clipboard"
                data-clipboard-content-value="<%= content.to_param.strip %>"
                data-action="clipboard#copy"
                class="inline-flex items-center justify-center rounded-md border border-gray-200 dark:border-gray-700 bg-white dark:bg-gray-800 shadow-sm relative z-10 h-7 w-7 text-gray-700 dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700">
          <span class="sr-only">Copy</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-clipboard">
            <rect width="8" height="4" x="8" y="2" rx="1" ry="1"></rect>
            <path d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2"></path>
          </svg>
        </button>
      </div>
    </div>

    <div id="<%= id %>-preview"
         data-tabs-target="panel"
         class="transition-opacity duration-200 mt-2 relative rounded-md border border-gray-200 dark:border-gray-700">
      <div class="flex min-h-[200px] w-full p-10 items-center justify-center bg-white dark:bg-gray-800">
        <%= content %>
      </div>
    </div>

    <div id="<%= id %>-code"
         data-tabs-target="panel"
         class="transition-opacity duration-200 hidden mt-2 relative rounded-md border border-gray-200 dark:border-gray-700">
      <div class="bg-gray-50 dark:bg-gray-900 rounded-md">
        <div class="flex items-center justify-between px-4 py-2 border-b border-gray-200 dark:border-gray-700">
          <div class="text-xs font-medium text-gray-500 dark:text-gray-400">HTML</div>
        </div>
        <div class="overflow-x-auto">
          <pre class="language-html p-4 text-sm leading-relaxed font-mono tab-size-2 hyphens-none break-normal whitespace-pre-wrap">
            <code class="text-gray-800 dark:text-gray-200"><%= content.to_param.strip %></code>
          </pre>
        </div>
      </div>
    </div>
  </div>
</div>
