<%# locals: (active_tab_index: 0, html_filename: ".html", erb_filename: ".html.erb", js_filename: ".js", ruby_filename: ".rb", css_filename: ".css") %>

<div
  data-controller="tabs"
  data-tabs-index-value="<%= active_tab_index %>"
  data-tabs-active-tab-class="text-primary-400 border-primary-400"
  data-tabs-inactive-tab-class="border-transparent text-slate-100 hover:text-white hover:border-primary-400"
  class="mt-5 mb-8 first:mt-0 last:mb-0 bg-gradient-to-br from-neutral-700 to-neutral-800 rounded-lg overflow-clip dark:border dark:border-neutral-700 selection:bg-neutral-300/90 selection:text-neutral-800 relative scrollbar border-transparent">

  <div class="bg-neutral-800">
    <ul class="flex items-center justify-start space-x-2 border-b border-neutral-700 px-3">
      <% if content_for?(:html) %>
        <li class="flex items-center">
          <a href="#html"
            id="html-tab"
            data-tabs-target="tab"
            data-action="click->tabs#change:prevent"
            class="-ml-2 pl-5 pr-3 py-3 font-mono text-sm border-b-2">
            <%= html_filename %>
          </a>
          <span class="w-px h-11 bg-gradient-to-b from-neutral-600 to-neutral-700 transform rotate-[20deg] block ml-2"></span>
        </li>
      <% end %>

      <% if content_for?(:erb) %>
        <li class="flex items-center">
          <a href="#erb"
            id="erb-tab"
            data-tabs-target="tab"
            data-action="click->tabs#change:prevent"
            class="-ml-3 pl-6 pr-4 py-3 font-mono text-sm border-b-2">
            <%= erb_filename %>
          </a>
          <span class="w-px h-11 bg-gradient-to-b from-neutral-600 to-neutral-700 transform rotate-[20deg] block ml-2"></span>
        </li>
      <% end %>

      <% if content_for?(:bash) %>
        <li class="flex items-center">
          <a href="#bash"
            id="bash-tab"
            data-tabs-target="tab"
            data-action="click->tabs#change:prevent"
            class="-ml-2 pl-5 pr-3 py-3 font-mono text-sm border-b-2">
            bash
          </a>
          <span class="w-px h-11 bg-gradient-to-b from-neutral-600 to-neutral-700 transform rotate-[20deg] block ml-2"></span>
        </li>
      <% end %>

      <% if content_for(:js) %>
        <li class="flex items-center">
          <a href="#js"
            id="js-tab"
            data-tabs-target="tab"
            data-action="click->tabs#change:prevent"
            class="-ml-2 pl-5 pr-3 py-3 font-mono text-sm border-b-2">
            <%= js_filename %>
          </a>
          <span class="w-px h-11 bg-gradient-to-b from-neutral-600 to-neutral-700 transform rotate-[20deg] block ml-2"></span>
        </li>
      <% end %>

      <% if content_for(:ruby) %>
        <li class="flex items-center">
          <a href="#ruby"
            id="ruby-tab"
            data-tabs-target="tab"
            data-action="click->tabs#change:prevent"
            class="-ml-2 pl-5 pr-3 py-3 font-mono text-sm border-b-2">
            <%= ruby_filename %>
          </a>
          <span class="w-px h-11 bg-gradient-to-b from-neutral-600 to-neutral-700 transform rotate-[20deg] block ml-2"></span>
        </li>
      <% end %>

      <% if content_for?(:css) %>
        <li class="flex items-center">
          <a href="#css"
            id="css-tab"
            data-tabs-target="tab"
            data-action="click->tabs#change:prevent"
            class="-ml-2 pl-5 pr-3 py-3 font-mono text-sm border-b-2">
            <%= css_filename %>
          </a>
          <span class="w-px h-11 bg-gradient-to-b from-neutral-600 to-neutral-700 transform rotate-[20deg] block ml-2"></span>
        </li>
      <% end %>
    </ul>
  </div>

  <div role="tabpanels" class="overflow-y-auto max-h-[650px] scrollbar scrollbar-track-neutral-950 scrollbar-thumb-neutral-500">
    <% if content_for?(:html) %>
      <div role="tabpanel"
        data-tabs-target="panel"
        data-controller="admin--clipboard"
        class="hidden">
        <button
          data-action="click->admin--clipboard#copy"
          class="bg-white/10 backdrop-blur-sm p-1 rounded-lg absolute right-2 top-2 hover:bg-gradient-to-br hover:to-pink-600 hover:from-pink-400 transition ease-in-out w-duration-200"
          type="button">
          <%= inline_svg_tag "icons/clipboard.svg", class: "stroke-current text-white select-none size-5" %>
        </button>
        <pre data-controller="admin--highlight"><code data-admin--clipboard-target="content" class="language-html scrollbar"><%= yield(:html).to_param.strip %></code></pre>
      </div>
    <% end %>

    <% if content_for(:erb) %>
      <div
        role="tabpanel"
        data-tabs-target="panel"
        data-controller="admin--clipboard"
        class="hidden">
        <button data-action="click->admin--clipboard#copy"
          class="bg-white/10 backdrop-blur-sm p-1 rounded-lg absolute right-2 top-2 hover:bg-gradient-to-br hover:to-rose-600 hover:from-rose-400 transition ease-in-out w-duration-200"
          type="button">
          <%= inline_svg_tag "icons/clipboard.svg", class: "stroke-current text-white select-none size-5" %>
        </button>
        <pre data-controller="admin--highlight"><code data-admin--clipboard-target="content" class="language-erb scrollbar"><%=  yield(:erb).to_param.strip %></code></pre>
      </div>
    <% end %>

    <% if content_for(:bash) %>
      <div
        role="tabpanel"
        data-tabs-target="panel"
        data-controller="admin--clipboard"
        class="hidden">
        <button data-action="click->admin--clipboard#copy"
          class="bg-white/10 backdrop-blur-sm p-1 rounded-lg absolute right-2 top-2 hover:bg-gradient-to-br hover:to-cyan-600 hover:from-cyan-400 transition ease-in-out w-duration-200"
          type="button">
          <%= inline_svg_tag "icons/clipboard.svg", class: "stroke-current text-white select-none size-5" %>
        </button>
        <pre data-controller="admin--highlight"><code data-admin--clipboard-target="content" class="language-bash scrollbar"><%=  yield(:bash).to_param.strip %></code></pre>
      </div>
    <% end %>

    <% if content_for(:js) %>
      <div
        role="tabpanel"
        data-tabs-target="panel"
        data-controller="admin--clipboard"
        class="hidden">
        <button data-action="click->admin--clipboard#copy"
          class="bg-white/10 backdrop-blur-sm p-1 rounded-lg absolute right-2 top-2 hover:bg-gradient-to-br hover:to-amber-600 hover:from-amber-400 transition ease-in-out w-duration-200"
          type="button">
          <%= inline_svg_tag "icons/clipboard.svg", class: "stroke-current text-white select-none size-5" %>
        </button>
        <pre data-controller="admin--highlight"><code data-admin--clipboard-target="content" class="language-javascript scrollbar"><%= yield(:js).to_param.strip %></code></pre>
      </div>
    <% end %>

    <% if content_for(:ruby) %>
      <div
        role="tabpanel"
        data-tabs-target="panel"
        data-controller="admin--clipboard"
        class="hidden">
        <button data-action="click->admin--clipboard#copy"
          class="bg-white/10 backdrop-blur-sm p-1 rounded-lg absolute right-2 top-2 hover:bg-gradient-to-br hover:to-rose-600 hover:from-rose-400 transition ease-in-out w-duration-200"
          type="button">
          <%= inline_svg_tag "icons/clipboard.svg", class: "stroke-current text-white select-none size-5" %>
        </button>
        <pre data-controller="admin--highlight"><code data-admin--clipboard-target="content" class="language-ruby scrollbar"><%= yield(:ruby).to_param.strip %></code></pre>
      </div>
    <% end %>

    <% if content_for(:css) %>
      <div
        role="tabpanel"
        data-tabs-target="panel"
        data-controller="admin--clipboard"
        class="hidden">
        <button data-action="click->admin--clipboard#copy"
          class="bg-white/10 backdrop-blur-sm p-1 rounded-lg absolute right-2 top-2 hover:bg-gradient-to-br hover:to-fuchsia-600 hover:from-fuchsia-400 transition ease-in-out w-duration-200"
          type="button">
          <%= inline_svg_tag "icons/clipboard.svg", class: "stroke-current text-white select-none size-5" %>
        </button>
        <pre data-controller="admin--highlight"><code data-admin--clipboard-target="content" class="language-css scrollbar"><%=  yield(:css).to_param.strip %></code></pre>
      </div>
    <% end %>
  </div>
</div>