<% content_for(:title) { t(".check_your_email") } %>

<div class="center full-width flex flex-column" style="max-inline-size: 24rem; gap: var(--space-6);">
  <%= render "shared/auth_branding" %>

  <div class="card flex flex-column" style="gap: var(--space-6); padding-block: var(--space-6);">
    <header class="txt-align-center" style="padding-inline: var(--space-6);">
      <h1 class="font-weight-bold txt-x-large"><%= t(".check_your_email") %></h1>
      <p class="txt-subtle txt-small margin-block-start-half"><%= t(".verification_instructions") %></p>
    </header>

    <div class="grid" style="padding-inline: var(--space-6); gap: var(--space-6);">
      <p class="txt-small txt-align-center txt-subtle">
        <%= t(".didnt_receive_email") %>
      </p>
      <%= link_to t(".sign_in"), sign_in_path, class: "btn btn--outline full-width" %>
    </div>
  </div>
</div>
