<%= render partial: "user_settings/header" %>

<div class="divide-y divide-white/5">
  <div class="grid max-w-7xl grid-cols-1 gap-x-8 gap-y-10 px-4 py-16 sm:px-6 md:grid-cols-3 lg:px-8">
    <div>
      <h2 class="text-base font-semibold leading-7 text-gray-900 dark:text-white">Username</h2>
      <p class="mt-1 text-sm leading-6 text-gray-600 dark:text-gray-400">Changing your username can have unintended side effects</p>
    </div>

    <%= form_with(model: @user,
          url: user_settings_account_path,
          method: :patch,
          class: "md:col-span-2",
          data: {controller: "form", action: "keydown.enter->form#submit:prevent"}) do |form| %>
      <div class="grid grid-cols-1 gap-x-6 gap-y-8 sm:max-w-xl sm:grid-cols-6">
          <div class="col-span-full">
            <%= form.label :username %>
            <%= form.text_field :username,
                  autocomplete: "username",
                  placeholder: "jane_doe",
                  leading_icon: true do %>
              <%= inline_svg "icons/outline/at-symbol.svg", class: "h-5 w-5 text-gray-600 dark:text-gray-400", aria: true, title: "Username", desc: "@ icon" %>
            <% end %>
            <p class="mt-3 text-sm leading-6 text-gray-600 dark:text-gray-400"><%= t(".username_warning") %></p>
          </div>
      </div>

      <div class="mt-8 flex">
        <%= form.submit t(".update_username") %>
      </div>
    <% end %>
  </div>

  <div class="grid max-w-7xl grid-cols-1 gap-x-8 gap-y-10 px-4 py-16 sm:px-6 md:grid-cols-3 lg:px-8">
    <div>
      <h2 class="text-base font-semibold leading-7 text-gray-900 dark:text-white">Email Address</h2>
      <p class="mt-1 text-sm leading-6 text-gray-600 dark:text-gray-400"><%= t(".email_address_hint") %></p>
    </div>

    <%= form_with(model: @user,
          url: user_settings_email_path,
          method: :patch,
          class: "md:col-span-2",
          data: {controller: "form", action: "keydown.enter->form#submit:prevent"}) do |form| %>
      <div class="grid grid-cols-1 gap-x-6 gap-y-8 sm:max-w-xl sm:grid-cols-6">
        <div class="col-span-full">
          <%= form.label :email_address %>
          <%= form.email_field :email_address, required: true, autocomplete: "email", placeholder: t(".email_address_placeholder") %>
          <p class="mt-3 text-sm leading-6 text-gray-600 dark:text-gray-400"><%= t(".email_address_hint") %></p>
        </div>

        <div class="col-span-full">
          <%= form.label :password_challenge, "Current Password" %>
          <%= form.password_field :password_challenge, autocomplete: "current-password" %>
        </div>
      </div>

      <div class="mt-8 flex">
        <%= form.submit t(".update_email_address") %>
      </div>
    <% end %>
  </div>

  <div class="grid max-w-7xl grid-cols-1 gap-x-8 gap-y-10 px-4 py-16 sm:px-6 md:grid-cols-3 lg:px-8">
    <div>
      <h2 class="text-base font-semibold leading-7 text-gray-900 dark:text-white">Connected Accounts</h2>
      <p class="mt-1 text-sm leading-6 text-gray-600 dark:text-gray-400">Select a service to sign in with.</p>
    </div>

    <div class="col-span-2">
        <h2 class="mb-2"><%= t(".connected_accounts") %></h2>
        <p><%= t(".connected_accounts_description") %></p>
        <div class="my-2 flex flex-wrap gap-x-4 gap-y-2">
          <%= button_to t("oauth.sign_in_with", provider: t("oauth.developer")), "/auth/developer", class: "btn", data: {turbo: false, disable_with: t(".redirecting")} %>
        </div>
        <div class="divide-y">
          <% if @user_connected_accounts&.empty? %>
            <p><%= t(".no_connected_accounts") %></p>
          <% else %>
            <% @user_connected_accounts&.each do |user_connected_account| %>
              <div class="flex border-top align-middle py-4">
                <div class="flex-1">
                  <div class="inline-block align-middle">
                    <div class="font-semibold text-sm text-gray-700"><%= user_connected_account.provider_name %></div>
                  </div>
                </div>
                <%= button_to user_settings_connected_account_path(user_connected_account), method: :delete, class: "btn btn-link text-gray-700" do %>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4 mr-1">
                    <path d="M5.28 4.22a.75.75 0 0 0-1.06 1.06L6.94 8l-2.72 2.72a.75.75 0 1 0 1.06 1.06L8 9.06l2.72 2.72a.75.75 0 1 0 1.06-1.06L9.06 8l2.72-2.72a.75.75 0 0 0-1.06-1.06L8 6.94 5.28 4.22Z" />
                  </svg>
                  <%= t("remove") %>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
    </div>

  </div>

  <div class="grid max-w-7xl grid-cols-1 gap-x-8 gap-y-10 px-4 py-16 sm:px-6 md:grid-cols-3 lg:px-8">
    <div>
      <h2 class="text-base font-semibold leading-7 text-gray-900 dark:text-white">Change password</h2>
      <p class="mt-1 text-sm leading-6 text-gray-600 dark:text-gray-400">Update your password associated with your account.</p>
    </div>

     <%= form_with(model: @user,
           url: user_settings_password_path,
           method: :patch,
           class: "md:col-span-2",
           data: {controller: "form", action: "keydown.enter->form#submit:prevent"}) do |form| %>
      <div class="grid grid-cols-1 gap-x-6 gap-y-8 sm:max-w-xl sm:grid-cols-6">
        <div class="col-span-full">
          <%= form.label :password_challenge, "Current password" %>
          <%= form.password_field :password_challenge, autocomplete: "current-password" %>
        </div>

        <div class="col-span-2">
          <%= form.label :password, "New password" %>
          <%= form.password_field :password, autocomplete: "new-password" %>
        </div>

        <div class="col-span-2">
          <%= form.label :password_confirmation, "Confirm password" %>
          <%= form.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>
      </div>

      <div class="mt-8 flex">
        <%= form.submit t(".update_password") %>
      </div>
    <% end %>
  </div>

  <div class="grid max-w-7xl grid-cols-1 gap-x-8 gap-y-10 px-4 py-16 sm:px-6 md:grid-cols-3 lg:px-8">
    <div>
      <h2 class="text-base font-semibold leading-7 text-gray-900 dark:text-white">Delete account</h2>
      <p class="mt-1 text-sm leading-6 text-gray-600 dark:text-gray-400">No longer want to use our service? You can delete your account here. This action is not reversible. All information related to this account will be deleted permanently. Certain user content will be moved to a system wide "Deleted user" in order to maintain content for posterity.</p>
    </div>

    <div class="flex items-start md:col-span-2">
      <%= button_to user_settings_account_path, method: :delete, data: {turbo_confirm: "Are you sure?"}, class: "rounded-md bg-red-500 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-400" do %>
        Yes, delete my account
      <% end %>
    </div>
  </div>
</div>
