<header class="border-b border-white/5">
  <nav class="flex overflow-x-auto py-4">
    <ul role="list" class="flex min-w-full flex-none gap-x-6 px-4 text-sm font-semibold leading-6 text-gray-400 sm:px-6 lg:px-8">
      <li>
        <%= active_link_to "Public Profile", users_settings_profile_path, active_class: "text-primary-400" %>
      </li>
      <li>
        <%= active_link_to "Account", users_settings_account_path, active_class: "text-primary-400" %>
      </li>
      <li>
        <%= active_link_to "Appearance", users_settings_appearance_path, active_class: "text-primary-400" %>
      </li>
      <li>
        <%= active_link_to "Sessions", users_settings_sessions_path, active_class: "text-primary-400" %>
      </li>
      <li>
        <%= active_link_to "Notifications", users_settings_notifications_path, active_class: "text-primary-400" %>
      </li>
    </ul>
  </nav>
</header>
