<div id="<%= dom_id membership %>" class="border p-4 rounded-lg flex justify-between items-center">
  <div class="">
    <div class="">
      <%= membership.user.email_address %>
    </div>
    <div class="">
      <%= membership.role %>
    </div>
  </div>

  <div>
    <%= link_to "Edit", edit_membership_path(membership), class: "btn btn-secondary" if policy(membership).edit? %>
    <div class="inline-block">
      <%= button_to "Remove", membership_path(membership), method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "btn btn-danger" if policy(membership).destroy? %>
    </div>
  </div>
</div>
