<section class="space-y-8 mx-auto max-w-md w-full">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">
      <%= "Edit #{@membership.user.email_address} roles" %>
    </h1>
  </div>

  <div class="space-y-4 border rounded-lg p-4 shadow">
    <%= form_with(model: @membership, class: "contents") do |form| %>

      <%= render "error_messages", resource: form.object %>

      <div class="">
        <%= form.label :role %>
        <div>
          <% Membership.roles.each do |role, _value| %>
            <div class="flex items-center gap-2">
              <%= form.radio_button :role, role %>
              <%= form.label :role, role.humanize, value: role %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="inline">
        <%= form.submit "Update Organization User", class: "btn btn-primary" %>
      </div>
    <% end %>

    <%= link_to "Cancel", memberships_path(@organization), class: "btn btn-secondary" %>
  </div>
</section>
