<div class="py-10">
  <header>
    <div class="flex justify-between items-center mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <h1 class="text-3xl font-bold leading-tight tracking-tight text-foreground">
        <%= "Invite user" %>
      </h1>
    </div>
  </header>
  <main>
    <div class="mx-auto max-w-7xl sm:px-6 lg:px-8 py-4">
      <%= form_with model: @organization_invitation, url: admin_settings_organization_invitations_path, class: "contents space-y-4" do |form| %>
        <%= render "error_messages", resource: form.object %>

        <%= form.label :email %>
        <%= form.email_field :email, placeholder: "hello@example.com", class: "form-input", autofocus: true %>

        <div class="mt-5 flex items-center space-x-4 justify-end">
          <%= link_to "Cancel", admin_settings_memberships_path, class: "btn btn-secondary" %>
          <%= form.submit "Invite", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </main>
</div>
