<%= render partial: "user_settings/header" %>

<div class="divide-y divide-white/5">
  <div class="grid max-w-7xl grid-cols-1 gap-x-8 gap-y-10 px-4 py-16 sm:px-6 md:grid-cols-3 lg:px-8">
    <div>
      <h2 class="text-base font-semibold leading-7 text-gray-900 dark:text-white">Preferences</h2>
      <p class="mt-1 text-sm leading-6 text-gray-600 dark:text-gray-400">[* EXPERIMENTAL *] These features are still a work in progress</p>
    </div>

    <div class="md:col-span-2">
      <%= form_with(model: @user,
            url: user_settings_preferences_path,
            method: :patch,
            data: {controller: "form", action: "keydown.enter->form#submit:prevent"}) do |form| %>
        <%= render "error_messages", resource: form.object %>

        <div class="grid grid-cols-1 gap-x-6 gap-y-8 sm:max-w-xl sm:grid-cols-6">
          <div class="col-span-full">
            <%= form.label :theme %>
             <%= form.select :theme, theme_options, {} %>
          </div>

          <div class="col-span-full">
            <%= form.label :time_zone %>
            <%= form.time_zone_select :time_zone, nil, { default: browser_time_zone.name } %>
          </div>

          <div class="col-span-full">
            <%= form.label :preferred_language %>
             <%= form.select :preferred_language, language_options, {} %>
          </div>
        </div>

        <div class="mt-8 flex">
          <%= form.submit "Update preferences" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
