<% if comments.any? %>
  <ul class="flex flex-column" style="gap: var(--space-6);">
    <% comments.each do |comment| %>
      <li class="card">
        <div class="pad-inline">
          <div class="flex" style="gap: var(--space-3);">
            <%= render partial: "votes/vote_button", locals: { voteable: comment } %>
            <div class="flex-item-grow" style="min-inline-size: 0;">
              <div style="margin-block-end: var(--space-2);">
                <div class="flex align-center" style="gap: var(--space-2); margin-block-end: var(--space-1);">
                  <h2 class="flex-1">
                    <%= link_to idea_comment_path(comment.idea, comment), class: "txt-large font-weight-bold" do %>
                      <span class="txt-subtle txt-small font-weight-normal"><%= t(".comment_on") %></span> <%= comment.idea.title %>
                    <% end %>
                  </h2>
                  <% if comment.idea.board %>
                    <%= render Elements::BadgeComponent.new(variant: :outline) do %>
                      <%= comment.idea.board.name %>
                    <% end %>
                  <% end %>
                </div>
                <div class="flex align-center txt-xx-small" style="margin-block-start: var(--space-1); gap: var(--space-2);">
                  <p>
                    <%= link_to comment.creator.name, comment.creator %>
                  </p>
                  <%= lucide_icon "dot" %>
                  <p>
                    <%= local_datetime_tag comment.created_at, style: :datetime %>
                  </p>
                  <% if comment.parent %>
                    <%= lucide_icon "dot" %>
                    <p><%= t(".reply_to") %> <%= comment.parent.creator.name %></p>
                  <% end %>
                </div>
                <p class="txt-subtle txt-small" style="margin-block-start: var(--space-2);">
                  <%= truncate(strip_tags(comment.body.to_s), length: 140) %>
                </p>
              </div>
            </div>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
<% else %>
  <div class="txt-align-center txt-subtle" style="padding-block: var(--space-12);">
    <div style="margin-block-end: var(--space-4);">
      <%= lucide_icon "message-circle", class: "center", style: "inline-size: 3rem; block-size: 3rem; opacity: 0.5;" %>
    </div>
    <p class="txt-small"><%= t(".empty_comments") %></p>
  </div>
<% end %>
