<% if votes.any? %>
  <ul class="flex flex-column gap-6">
    <% votes.each do |vote| %>
      <li class="panel">
        <div class="pad-inline">
          <div class="flex gap-3">
            <%= render partial: "votes/vote_button", locals: { voteable: vote.voteable } %>
            <div class="flex-item-grow" style="min-inline-size: 0;">
              <div class="margin-block-end-half">
                <div class="flex align-center" style="gap: var(--space-2); margin-block-end: var(--space-1);">
                  <h2 class="flex-1">
                    <% if vote.voteable_type == "Idea" %>
                      <%= link_to vote.voteable.title, idea_path(vote.voteable), class: "txt-large font-weight-bold" %>
                    <% else %>
                      <%= link_to idea_comment_path(vote.voteable.idea, vote.voteable), class: "txt-large font-weight-bold" do %>
                        <span class="txt-subtle txt-small font-weight-normal"><%= t(".comment_on") %></span> <%= vote.voteable.idea.title %>
                      <% end %>
                    <% end %>
                  </h2>
                  <% if vote.voteable.respond_to?(:board) && vote.voteable.board %>
                    <%= render Elements::BadgeComponent.new(variant: :outline) do %>
                      <%= vote.voteable.board.name %>
                    <% end %>
                  <% elsif vote.voteable.respond_to?(:idea) && vote.voteable.idea.board %>
                    <%= render Elements::BadgeComponent.new(variant: :outline) do %>
                      <%= vote.voteable.idea.board.name %>
                    <% end %>
                  <% end %>
                </div>
                <div class="flex align-center txt-xx-small" style="margin-block-start: var(--space-1); gap: var(--space-2);">
                  <p>
                    <%= link_to vote.voteable.creator.name, vote.voteable.creator %>
                  </p>
                  <%= lucide_icon "dot" %>
                  <p>
                    <%= local_datetime_tag vote.voteable.created_at, style: :datetime %>
                  </p>
                  <%= lucide_icon "dot" %>
                  <p><%= t(".voted") %> <%= local_datetime_tag vote.created_at, style: :relative %></p>
                </div>
                <p class="txt-subtle txt-small margin-block-start-half">
                  <%= truncate(strip_tags(vote.voteable.content_text.to_s), length: 140) %>
                </p>
              </div>
            </div>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
<% else %>
  <div class="txt-align-center txt-subtle pad-block-12">
    <div class="margin-block-end">
      <%= lucide_icon "heart", class: "center", style: "inline-size: 3rem; block-size: 3rem; opacity: 0.5;" %>
    </div>
    <p class="txt-small"><%= t(".empty_votes") %></p>
  </div>
<% end %>
