<%# locals: (reaction_group:, reactable:) %>

<% emoji = reaction_group[:emoji] %>
<% count = reaction_group[:count] %>
<% user_reacted = reaction_group[:user_reacted] %>
<% user_reaction_id = reaction_group[:user_reaction_id] %>

<% if user_reacted && user_reaction_id %>
  <%= button_to idea_comment_reaction_path(reactable.idea, reactable, user_reaction_id),
        method: :delete,
        class: "reaction-pill reaction-pill--active",
        title: t("reactions.you_reacted", emoji: emoji),
        data: { turbo_frame: dom_id(reactable, :reacting) } do %>
    <span><%= emoji %></span>
    <span class="reaction-pill__count"><%= count %></span>
  <% end %>
<% else %>
  <%= button_to idea_comment_reactions_path(reactable.idea, reactable),
        params: { reaction: { content: emoji } },
        class: "reaction-pill reaction-pill--inactive",
        title: t("reactions.react_with", emoji: emoji),
        data: { turbo_frame: dom_id(reactable, :reacting) } do %>
    <span><%= emoji %></span>
    <span class="reaction-pill__count"><%= count %></span>
  <% end %>
<% end %>
