<%= turbo_frame_tag @reactable, :new_reaction do %>
  <div class="position-relative" data-controller="reaction-picker" data-reaction-picker-open-on-connect-value="true">
    <button type="button"
            class="reaction-add-btn reaction-add-btn--active"
            data-action="click->reaction-picker#toggle">
      <%= lucide_icon "smile-plus", class: "size-4" %>
      <span class="visually-hidden"><%= t("reactions.add_reaction") %></span>
    </button>

    <div class="reaction-picker"
         data-reaction-picker-target="menu">
      <div class="reaction-picker__grid">
        <% EmojiHelper.reactions.each do |emoji, title| %>
          <%= button_to idea_comment_reactions_path(@reactable.idea, @reactable),
                params: { reaction: { content: emoji } },
                class: "reaction-picker__emoji",
                title: title,
                aria: { label: title },
                data: { turbo_frame: dom_id(@reactable, :reacting) } do %>
            <%= emoji %>
          <% end %>
        <% end %>
      </div>

      <div class="reaction-picker__footer">
        <%= link_to idea_comment_reactions_path(@reactable.idea, @reactable),
              class: "reaction-picker__cancel",
              data: { turbo_frame: dom_id(@reactable, :reacting) } do %>
          <%= t("cancel") %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
