<%# locals: (path_helper:, search_value:, turbo_frame:, preserve_params: {}, placeholder:) %>

<div class="full-width" style="min-inline-size: 20rem;"
     data-controller="search"
     data-search-delay-value="300"
     data-search-autofocus-value="false"
     data-search-loading-class="opacity-75"
     data-search-filtering-class="search-active">
  <%= form_with url: send(path_helper), method: :get,
      data: {
        turbo_frame: turbo_frame,
        search_target: "form"
      } do |f| %>
    <% preserve_params.each do |key, value| %>
      <%= f.hidden_field key, value: value %>
    <% end %>
    <div class="position-relative">
      <%= lucide_icon "search", class: "search-filter__icon" %>
      <%= f.search_field :search, value: search_value, placeholder: placeholder,
          autocomplete: "off",
          class: "search-filter__input",
          data: {
            search_target: "input",
            action: "input->search#search"
          } %>
      <% if search_value.present? %>
        <%= link_to send(path_helper, **clean_params(**preserve_params)),
            class: "search-filter__clear",
            data: { turbo_frame: turbo_frame } do %>
          <%= lucide_icon "x", class: "size-4" %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
