<p><%= t(".greeting") %></p>

<p><%= t(".email_change_requested", email: @new_email) %></p>

<p><strong><%= t(".must_click_to_confirm") %></strong></p>

<p><%= link_to t(".yes_change_my_email_to_this_address"), @url %></p>

<p><%= t(".ignore_if_not_you") %></p>
