<div class="flex items-center gap-4">
  <%= render Ui::ButtonComponent.new(size: :sm) do %>
    Small
  <% end %>
  <%= render Ui::ButtonComponent.new(size: :default) do %>
    Default
  <% end %>
  <%= render Ui::ButtonComponent.new(size: :lg) do %>
    Large
  <% end %>
  <%= render Ui::ButtonComponent.new(size: :icon) do %>
    <%= lucide_icon("arrow-left") %>
  <% end %>
</div>
