<div class="flex flex-wrap gap-4">
  <%= render Ui::ButtonComponent.new(variant: :default) do %>
    Default
  <% end %>
  <%= render Ui::ButtonComponent.new(variant: :destructive) do %>
    Destructive
  <% end %>
  <%= render Ui::ButtonComponent.new(variant: :outline) do %>
    Outline
  <% end %>
  <%= render Ui::ButtonComponent.new(variant: :secondary) do %>
    Secondary
  <% end %>
  <%= render Ui::ButtonComponent.new(variant: :ghost) do %>
    Ghost
  <% end %>
  <%= render Ui::ButtonComponent.new(variant: :link) do %>
    Link
  <% end %>
</div>
