<div <%= tag.attributes(**wrapper_attrs) %>>
  <div data-action="<%= trigger_actions %>">
    <%= trigger %>
  </div>

  <div <%= tag.attributes(**content_attrs) %>>
    <%= content %>
  </div>
</div>
