<%# locals: () %>

<style>
  .settings-tab--active { --border-color: var(--color-primary); }
</style>

<div style="margin-block-end: var(--space-8);">
  <h1 class="txt-xx-large font-weight-semibold"><%= t("user_settings.settings_title") %></h1>
  <p class="txt-subtle"><%= t("user_settings.settings_description") %></p>
</div>

<div class="border-bottom">
  <nav class="flex overflow-x">
    <ul role="list" class="flex flex-none txt-small font-weight-medium" style="min-inline-size: 100%; gap: var(--space-8); padding-inline: 0;">
      <li>
        <%= active_link_to t(".public_profile"), user_settings_profile_path,
              class: "flex-inline align-center txt-subtle pad-block",
              style: "padding-inline: var(--space-1);",
              active_class: "border-bottom settings-tab--active txt-primary" %>
      </li>
      <li>
        <%= active_link_to t(".account"), user_settings_account_path,
              class: "flex-inline align-center txt-subtle pad-block",
              style: "padding-inline: var(--space-1);",
              active_class: "border-bottom settings-tab--active txt-primary" %>
      </li>
      <li>
        <%= active_link_to t(".password"), user_settings_password_path,
              class: "flex-inline align-center txt-subtle pad-block",
              style: "padding-inline: var(--space-1);",
              active_class: "border-bottom settings-tab--active txt-primary" %>
      </li>
      <li>
        <%= active_link_to t(".preferences"), user_settings_preferences_path,
              class: "flex-inline align-center txt-subtle pad-block",
              style: "padding-inline: var(--space-1);",
              active_class: "border-bottom settings-tab--active txt-primary" %>
      </li>
      <li>
        <%= active_link_to t(".active_sessions"), user_settings_active_sessions_path,
              class: "flex-inline align-center txt-subtle pad-block",
              style: "padding-inline: var(--space-1);",
              active_class: "border-bottom settings-tab--active txt-primary" %>
      </li>
    </ul>
  </nav>
</div>
