<% content_for(:title) { t(".title") } %>

<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <h1 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-foreground">
      <%= t(".title") %>
    </h1>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-[480px]">
    <%= form_with model: @user, url: first_run_path, class: "space-y-6" do |form| %>
      <%= render "error_messages", resource: @user %>

      <label class="align-center center gap" data-controller="upload-preview">
        <div class="btn>
          <%= form.file_field :avatar, class: "input", accept: "image/*",
                data: { upload_preview_target: "input", action: "upload-preview#previewImage" } %>
          <span class=" sr-only ">Add your avatar</span>
        </div>

        <div class=" btn avatar txt-xx-large ">
          <%= image_tag "default-avatar.svg", role: "presentation", data: { upload_preview_target: "image" }, alt: "Add your avatar" %>
          <span class=" sr-only ">Avatar</span>
        </div>
      </label>

      <div>
        <%= form.label :email_address %>
        <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "email", placeholder: t(".email_address_placeholder") %>
        <p class=" mt-3 text-sm leading-6 text-muted-foreground "><%= t(".email_address_hint") %></p>
      </div>

      <div>
        <%= form.label :username %>
        <%= form.text_field :username, required: true, autocomplete: "username", placeholder: t(".username_placeholder") %>
        <p class=" mt-3 text-sm leading-6 text-muted-foreground "><%= t(".username_hint") %></p>
      </div>

      <div>
        <%= form.label :password %>
        <%= form.password_field :password, required: true, autocomplete: "new-password", placeholder: t(".password_placeholder") %>
        <p class=" mt-3 text-sm leading-6 text-muted-foreground "><%= t(".password_hint") %></p>
      </div>

      <div>
        <%= form.label :name %>
        <%= form.text_field :name, required: false, autofocus: true, autocomplete: "name", placeholder: t(".name_placeholder") %>
        <p class=" mt-3 text-sm leading-6 text-muted-foreground "><%= t(".name_hint") %></p>
      </div>

      <div>
        <%= form.submit t(".create_account"), class: "btn-block" %>
      </div>
    <% end %>
  </div>
</div>
