<%= tag.nav(**html_attrs) do %>
  <ol data-slot="breadcrumb-list" class="breadcrumb__list">
    <% processed_items.each_with_index do |item, index| %>
      <% is_last = last_item?(index) %>

      <% if item[:is_ellipsis] %>
        <li data-slot="breadcrumb-item" class="breadcrumb__item">
          <span data-slot="breadcrumb-ellipsis" class="breadcrumb__ellipsis">
            <%= helpers.lucide_icon "ellipsis" %>
            <span class="visually-hidden"><%= t(".more") %></span>
          </span>
        </li>
      <% else %>
        <li data-slot="breadcrumb-item" class="breadcrumb__item">
          <% if item[:path].present? %>
            <%= link_to item[:text], item[:path],
                data: { slot: "breadcrumb-link" },
                class: "breadcrumb__link" %>
          <% else %>
            <span data-slot="breadcrumb-page"
                  aria-current="page"
                  class="breadcrumb__current">
              <%= item[:text] %>
            </span>
          <% end %>
        </li>
      <% end %>

      <% unless is_last %>
        <li data-slot="breadcrumb-separator" role="presentation" aria-hidden="true" class="breadcrumb__separator">
          <%= separator_content %>
        </li>
      <% end %>
    <% end %>
  </ol>
<% end %>
