<% content_for :title, t(".title") %>

<div class="center pad-inline" style="max-inline-size: 72rem; padding-block: var(--space-8);">
  <div class="flex align-center justify-space-between" style="margin-block-end: var(--space-8);">
    <div>
      <h1 class="txt-xx-large font-weight-semibold"><%= t(".heading") %></h1>
      <p class="txt-small txt-subtle"><%= t(".description") %></p>
    </div>
    <div class="txt-nowrap">
      <%= render Elements::ButtonComponent.new(
        variant: :default,
        href: new_admin_invitation_path
      ) do %>
        <%= lucide_icon "user-plus", class: "size-4", style: "margin-inline-end: var(--space-2);" %>
        <%= t(".new_invitation") %>
      <% end %>
    </div>
  </div>

  <div style="margin-block-end: var(--space-4);">
    <h2 class="txt-large font-weight-medium flex align-center" style="gap: var(--space-2);">
      <%= t(".pending_invitations") %>
      <%= render Elements::BadgeComponent.new(variant: :default) do %>
        <%= @pagy.count %>
      <% end %>
    </h2>
  </div>

  <%= turbo_frame_tag "invitations_content" do %>
    <%= render "invitations_list", invitations: @invitations, pagy: @pagy %>
  <% end %>
</div>
