<%# locals: (comment:, timestamp_size: :small, trigger_label:, copy_link_label: nil) %>
<% copy_link_label ||= t("comments.comment.copy_link") %>
<div class="flex justify-space-between align-center margin-block-end-half">
  <div class="flex align-center">
    <%= avatar_tag comment.creator, class: "avatar avatar--sm", alt: comment.creator.name, style: "margin-inline-end: var(--space-2);" %>

    <p class="flex-inline flex-column align-start margin-inline-end txt-small txt-ink">
      <span class="font-weight-bold"><%= comment.creator.name %></span>
      <%= link_to idea_path(comment.idea, anchor: dom_id(comment)), class: "txt-#{timestamp_size} txt-subtle txt-underline", data: { turbo_frame: "_top" } do %>
        <%= local_datetime_tag comment.created_at, style: :datetime %>
      <% end %>
      <% if comment.edited? %>
        <span class="comment__edited txt-x-small txt-subtle">
          <%= t(".edited_indicator") %>
          <%= local_datetime_tag comment.edited_at, style: :datetime, title: t(".edited_title", absolute: l(comment.edited_at, format: :long)) %>
        </span>
      <% end %>
    </p>
  </div>
  <%= render Elements::DropdownMenuComponent.new do |dropdown| %>
    <% dropdown.with_trigger(variant: :ghost, size: :icon, class: "txt-subtle") do %>
      <%= lucide_icon("ellipsis") %>
      <span class="visually-hidden"><%= trigger_label %></span>
    <% end %>

    <% if Current.user&.can_administer_comment?(comment) %>
      <% dropdown.with_item_content(href: edit_idea_comment_path(comment.idea, comment)) do %>
        <%= t("edit") %>
      <% end %>
      <% dropdown.with_item_content(
        href: idea_comment_path(comment.idea, comment),
        method: :delete,
        form: { data: { turbo_confirm: t("are_you_sure") } }
      ) do %>
        <%= t("remove") %>
      <% end %>
    <% end %>

    <% dropdown.with_item_content(
      href: "#",
      data: {
        controller: "copy-to-clipboard",
        copy_to_clipboard_content_value: idea_url(comment.idea, anchor: dom_id(comment)),
        action: "click->copy-to-clipboard#copy"
      }
    ) do %>
      <%= copy_link_label %>
    <% end %>

    <% yield dropdown if block_given? %>

    <% dropdown.with_item_content(href: "#") do %>
      <%= t("report") %>
    <% end %>
  <% end %>
</div>
