<div id="button-icons">
  <% content_for :preview_example, flush: true do %>
    <%= render_button(variant: :outline, size: :icon) do %>
      <%= inline_svg_tag "icons/chevron-right.svg" %>
    <% end %>

      <%= render_button do %>
        <%= inline_svg_tag "icons/plus.svg" %>
        Add Item
      <% end %>
  <% end %>

  <% content_for :code_example, flush: true do %>
<%%= render_button(variant: :outline,size: :icon) do %>
  <%%= inline_svg_tag "icons/chevron-right.svg" %>
<%% end %>

<%%= render_button do %>
  <%%= inline_svg_tag "icons/plus.svg" %>
  Add Item
<%% end %>
  <% end %>

  <%= render partial: "admin/docs/shared/code_example", locals: {
    heading: "Icons",
    description: "Icons may be place at the start or end of a button"
  } %>
</div>
