<div class="flex justify-center p-8">
  <%= render Ui::DropdownMenuComponent.new do |dropdown| %>
    <% dropdown.with_trigger do %>
      <%= render Ui::ButtonComponent.new(variant: :outline) do %>
        <%= lucide_icon("settings") %>
        Actions
      <% end %>
    <% end %>

    <% dropdown.with_item_content do %>
      <%= lucide_icon("user") %>
      Profile
    <% end %>
    <% dropdown.with_item_content do %>
      <%= lucide_icon("credit-card") %>
      Billing
    <% end %>
    <% dropdown.with_item_content do %>
      <%= lucide_icon("settings") %>
      Settings
    <% end %>
    <% dropdown.with_item_content do %>
      <%= lucide_icon("keyboard") %>
      Keyboard shortcuts
    <% end %>
    <% dropdown.with_item_separator %>
    <% dropdown.with_item_content do %>
      <%= lucide_icon("users") %>
      Team
    <% end %>
    <% dropdown.with_item_content do %>
      <%= lucide_icon("user-plus") %>
      Invite users
    <% end %>
    <% dropdown.with_item_separator %>
    <% dropdown.with_item_content do %>
      <%= lucide_icon("github") %>
      GitHub
    <% end %>
    <% dropdown.with_item_content do %>
      <%= lucide_icon("life-buoy") %>
      Support
    <% end %>
    <% dropdown.with_item_separator %>
    <% dropdown.with_item_content do %>
      <%= lucide_icon("log-out") %>
      Log out
    <% end %>
  <% end %>
</div>
