<!DOCTYPE html>
<html>
  <head>
    <title>FeedbackbinElements - Component Documentation</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags "application", importmap: FeedbackbinElements.importmap %>

    <%= yield :head %>
  </head>

  <body>
    <div class="px-6 lg:px-8">
      <div class="mx-auto max-w-xl lg:max-w-7xl">
        <div class="mx-auto flex max-w-xl items-start gap-x-12 lg:max-w-7xl">
          <%= render "feedbackbin_elements/docs/shared/sidebar" %>

          <main class="min-w-0 flex-1 gap-x-12 pt-8 pb-16 lg:pt-12">
            <div class="<%= content_for?(:component_nav) ? "max-w-2xl" : "w-full" %>">
              <%= yield %>
            </div>
          </main>

          <% if content_for?(:component_nav).present? %>
            <%= yield :component_nav %>
          <% end %>
        </div>
      </div>
    </div>
  </body>
</html>
