<%# locals: (result:) %>

<% icon = { "Idea" => "lightbulb", "Comment" => "message-circle", "Changelog" => "package-2" }[result.searchable_type] %>
<%= link_to polymorphic_path(result.source, anchor: result.source_anchor),
    class: "search-result",
    id: dom_id(result.searchable, :search_result),
    data: { turbo: false, navigable_list_target: "item" } do %>
  <div class="search-result__icon">
    <%= lucide_icon icon, class: "size-4 txt-subtle" %>
  </div>
  <div class="search-result__content">
    <div class="search-result__header">
      <span class="search-result__title"><%= result.display_title %></span>
      <%= render Elements::BadgeComponent.new(variant: :secondary, class: "search-result__type-badge flex-item-no-shrink txt-xx-small") do %>
        <%= t("searches.result.types.#{result.type_key}") %>
      <% end %>
      <% if result.board.present? %>
        <%= render Elements::BadgeComponent.new(variant: :secondary, class: "flex-item-no-shrink txt-xx-small") do %>
          <%= result.board.name %>
        <% end %>
      <% end %>
    </div>
    <% if result.display_snippet.present? %>
      <p class="search-result__snippet"><%= result.display_snippet %></p>
    <% end %>
    <% if result.comment? %>
      <span class="search-result__comment-hint">
        <%= lucide_icon "corner-down-right", class: "size-3" %>
        <%= t("searches.result.comment_on_idea") %>
      </span>
    <% end %>
  </div>
<% end %>
