<%= form_with(model: post, builder: FormBuilders::TailwindFormBuilder) do |form| %>
  <div class="space-y-6 pt-4">
    <%= render "error_messages", resource: form.object %>

    <div>
      <%= form.label :title %>
      <%= form.text_field :title, autofocus: true %>
    </div>

    <div>
      <%= form.label :description %>
      <%= form.text_area :description, rows: 4 %>
    </div>
  </div>

  <div class="mt-5 flex items-center space-x-4 justify-end">
    <% if form.object.new_record? %>
      <%= link_to t("cancel"), posts_path, class: "btn btn-secondary" %>
    <% else %>
      <%= link_to t("cancel"), post_path(@post), class: "btn btn-secondary" %>
    <% end %>

    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
