<%= form_with(model: post) do |form| %>
  <div class="space-y-6 pt-4">
    <%= render "error_messages", resource: form.object %>

    <div>
      <%= form.label :title %>
      <%= form.text_field :title, autofocus: true, placeholder: "Add a title" %>
    </div>

    <div>
      <%= form.label :body %>
      <%= form.rich_text_area :body, placeholder: "Add your description here..." %>
    </div>
  </div>

  <div class="mt-5 flex items-center space-x-4 justify-end">
    <% if form.object.new_record? %>
      <%= link_to t("cancel"), posts_path, class: "btn btn-secondary" %>
    <% else %>
      <%= link_to t("cancel"), post_path(@post), class: "btn btn-secondary" %>
    <% end %>

    <%= form.submit %>
  </div>
<% end %>
