<%= content_for :title, t("posts.index.title") %>
<%= turbo_stream_from :posts %>

<div class="mt-10 divide-y divide-gray-200 overflow-hidden rounded-lg bg-white border-gray-200  shadow dark:divide-gray-700 dark:border-gray-700 dark:bg-gray-800">
  <div class="px-4 py-5 sm:px-6">
     <div class="-ml-4 -mt-2 flex flex-wrap items-center justify-between sm:flex-nowrap">
        <div class="ml-4 mt-2">
          <h1 class="text-base font-semibold leading-6 text-gray-900 dark:text-white h3">Feedback</h1>
          <div class="text-sm font-medium">
            <span class="text-gray-500 dark:text-gray-300/75">Sort by:</span>
            <%= sortable @posts, :title, "Title", class: "text-gray-700 dark:text-gray-300 mr-1" %>
            <%= sortable @posts, :description, "Description", class: "text-gray-700 dark:text-gray-300 mr-1" %>
          </div>
        </div>
        <div class="ml-4 mt-2 flex-shrink-0">
          <%= link_to t("posts.new.title"), new_post_path, class: "btn btn-primary" %>
        </div>
      </div>
  </div>

  <%= tag.div id: ("posts" if first_page?(@pagy.page)), class: "overflow-hidden bg-white dark:bg-gray-800 shadow sm:rounded-md" do %>
    <% if @posts.empty? %>
      <div class="text-center my-3">
        <svg class="mx-auto h-12 w-12 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
          <path vector-effect="non-scaling-stroke" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 13h6m-3-3v6m-9 1V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z" />
        </svg>
        <h3 class="mt-2 text-sm font-semibold text-gray-900 dark:text-white">No feedback yet</h3>
        <p class="mt-1 text-sm text-gray-500 dark:text-gray-400">Get started by creating a new suggestion.</p>
        <div class="mt-6">
          <%= link_to new_post_path, class: "inline-flex items-center rounded-md bg-blue-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600" do %>
            <svg class="-ml-0.5 mr-1.5 h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
            </svg>
           <%= t("posts.new.title") %>
          <% end %>
        </div>
      </div>
    <% else %>
      <ul role="list" class="divide-y divide-gray-100 dark:divide-white/5">
        <%= render partial: "posts/post", collection: @posts, as: :post, cached: true %>
      </ul>
    <% end %>
  <% end %>

  <% if @pagy.pages > 1 %>
    <div class="flex items-center justify-between border-t border-gray-200 dark:border-gray-700 bg-white dark:bg-gray-800 px-4 py-3 sm:px-6">
      <%== pagy_info(@pagy) %>
      <%== pagy_nav(@pagy) %>
    </div>
  <% end %>
</div>
