<%= content_for :title, t("posts.index.title") %>
<%= turbo_stream_from :posts %>

<section class="max-w-6xl mx-auto px-4 sm:px-6">
  <div class="md:pr-6 lg:pr-10">
    <div class="p-6">
      <h1 class="scroll-m-20 text-4xl font-extrabold tracking-tight text-balance"><%= @category.name %></h1>
      <p class="mb-6 text-lg font-normal text-gray-500 sm:text-xl dark:text-gray-400"><%= @category.description %></p>

      <div class="text-center md:text-left md:flex justify-between items-center">
        <div class="mb-4 md:mb-0 md:order-1 md:ml-6">
          <%= link_to t("posts.new.title"), new_post_path, class: "btn-primary" %>
        </div>

        <ul class="grow inline-flex flex-wrap text-sm font-medium -mx-3 -my-1">
          <li class="px-3 py-1">
            <%= active_link_to "Popular", posts_path(sort: :comments_count, direction: :desc), class: "border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700", active_class: "border-indigo-500 text-indigo-600" %>
          </li>
          <li class="px-3 py-1">
            <%= active_link_to "Newest", posts_path(sort: :created_at, direction: :asc), class: "border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700", active_class: "border-indigo-500 text-indigo-600" %>
          </li>
          <li class="px-3 py-1">
            <%= active_link_to "Top", posts_path(sort: :likes_count, direction: :desc), class: "border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700", active_class: "border-indigo-500 text-indigo-600" %>
          </li>
        </ul>
      </div>
    </div>

    <%= tag.div id: ("posts" if first_page?(@pagy.page)), class: "mb-12" do %>
      <% if @posts.empty? %>
        <div class="text-center my-3">
          <svg class="mx-auto h-12 w-12 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path vector-effect="non-scaling-stroke" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 13h6m-3-3v6m-9 1V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z" />
          </svg>
          <h3 class="mt-2 text-sm font-semibold text-gray-900 dark:text-white">No feedback yet</h3>
          <p class="mt-1 text-sm text-gray-500 dark:text-gray-400">Get started by creating a new suggestion.</p>
          <div class="mt-6">
            <%= link_to new_post_path, class: "inline-flex items-center rounded-md bg-blue-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600" do %>
              <%= inline_svg "icons/plus.svg", class: "h-4 w-4" %>
            <%= t("posts.new.title") %>
            <% end %>
          </div>
        </div>
      <% else %>
        <ul role="list" class="space-y-4">
          <%= render partial: "posts/post", collection: @posts, as: :post %>
        </ul>
      <% end %>
    <% end %>

    <% if @pagy.pages > 1 %>
      <div class="flex items-center justify-between px-4 py-3 sm:px-6">
        <%== pagy_info(@pagy) %>
        <%== pagy_nav(@pagy) %>
      </div>
    <% end %>
  </div>
</section>
