<div class="flex flex-wrap gap-4">
  <%= render Elements::BadgeComponent.new(variant: :default) do %>
    <%= lucide_icon "check" %>
    Success
  <% end %>

  <%= render Elements::BadgeComponent.new(variant: :secondary) do %>
    <%= lucide_icon "map-pin" %>
    Pinned
  <% end %>

  <%= render Elements::BadgeComponent.new(variant: :destructive) do %>
    <%= lucide_icon "x" %>
    Error
  <% end %>

  <%= render Elements::BadgeComponent.new(variant: :outline) do %>
    <%= lucide_icon "info" %>
    Info
  <% end %>
</div>
