<%= render partial: "user_settings/header" %>

<div class="p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm 2xl:col-span-2 dark:border-gray-700 sm:p-6 dark:bg-gray-800">
  <div class="flow-root">
    <h3 class="text-xl font-semibold dark:text-white">Active Devices & Sessions</h3>
    <p class="font-normal text-gray-500 truncate dark:text-gray-400">This is a list of devices that have logged into your account. Revoke any sessions that you do not recognize.</p>
    <ul class="divide-y divide-gray-200 dark:divide-gray-700">
      <% @sessions.each do |session| %>
        <li class="py-4">
          <div class="flex items-center space-x-4">
            <div class="flex-shrink-0">
              <svg class="w-6 h-6 dark:text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.75 17L9 20l-1 1h8l-1-1-.75-3M3 13h18M5 17h14a2 2 0 002-2V5a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"></path></svg>
            </div>
            <div class="flex-1 min-w-0">
              <p class="text-base font-semibold text-gray-900 truncate dark:text-white">
                <%= session.ip_address %>
              </p>
              <p class="text-sm font-normal text-gray-500 truncate dark:text-gray-400">
                <% if session.current? %>
                  <%= t(".this_is_your_current_session") %>
                <% else %>
                  Last accessed on
                  <%= local_datetime_tag session.last_active_at, style: :datetime %>
                <% end %>
              </p>
              <p class="text-sm font-normal text-gray-500 truncate dark:text-gray-400">
                <span class="text-base font-semibold  text-gray-900 truncate dark:text-white"><%= UserAgent.parse(session.user_agent).browser %></span> on
                <span class="text-base font-semibold  text-gray-900 truncate dark:text-white"><%= UserAgent.parse(session.user_agent).platform %></span>
              </p>
              <p class="text-sm font-normal text-gray-500 truncate dark:text-gray-400">
                Signed in on <%= local_datetime_tag session.created_at, style: :datetime %>
              </p>
            </div>
            <div class="inline-flex items-center">
              <% unless session.current? %>
                <%= button_to "Revoke",
                      user_settings_active_session_path(session),
                      method: :delete,
                      class: "px-3 py-2 mb-3 mr-3 text-sm font-medium text-center text-gray-900 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:ring-primary-300 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700",
                      form: { data: { turbo_confirm: t(".are_you_sure") } } %>
              <% end %>
            </div>
          </div>
        </li>
     <% end %>
    </ul>
  </div>
</div>
