<%= turbo_frame_tag dom_id(user, "role_section") do %>
  <div class="flex items-center justify-between gap-4">
    <div class="flex flex-wrap gap-1">
      <%= render Elements::BadgeComponent.new(
        variant: user.admin? ? :default : :secondary
      ) do %>
        <%= user.role.humanize %>
      <% end %>
      <% if user.owner? %>
        <%= render Elements::BadgeComponent.new(variant: :default) do %>
          <%= t("admin.users.show.owner_badge") %>
        <% end %>
      <% end %>
    </div>
    <%= form_with url: admin_user_role_path(user), method: :patch, class: "flex gap-2 items-center" do |form| %>
      <%= form.select :role,
          options_for_select(
            User.roles.keys.map { |role| [ role.humanize, role ] },
            user.role
          ),
          {},
          class: "select" %>
      <%= render Elements::ButtonComponent.new(
        variant: :secondary,
        size: :sm,
        type: :submit
      ) do %>
        <%= t("admin.users.show.update_button") %>
      <% end %>
    <% end %>
  </div>
<% end %>
