<%= turbo_frame_tag dom_id(user, "status_section") do %>
  <div class="flex align-center justify-space-between gap-4">
    <%= render Elements::BadgeComponent.new(
      variant: user.active? ? :default : :destructive
    ) do %>
      <%= user.active? ? t("admin.users.show.active_badge") : t("admin.users.show.deactivated_badge") %>
    <% end %>
    <% if user.active? %>
      <%= render Elements::ButtonComponent.new(
        href: admin_user_activation_path(user),
        variant: :destructive,
        size: :sm,
        data: { turbo_method: :delete, turbo_confirm: t("admin.users.show.deactivate_confirm") }
      ) do %>
        <%= lucide_icon "user-x", class: "size-4" %>
        <span><%= t("admin.users.show.deactivate_user") %></span>
      <% end %>
    <% else %>
      <%= render Elements::ButtonComponent.new(
        href: admin_user_activation_path(user),
        variant: :default,
        size: :sm,
        data: { turbo_method: :post }
      ) do %>
        <%= lucide_icon "user-check", class: "size-4" %>
        <span><%= t("admin.users.show.activate_user") %></span>
      <% end %>
    <% end %>
  </div>
<% end %>
