<%# locals: (users:, pagy:) %>

<%= render Elements::PanelComponent.new(class: "overflow-hidden") do |c| %>
  <% c.with_body(class: "unpad") do %>
    <div class="overflow-x">
    <table class="full-width txt-small">
      <thead class="border-bottom">
        <tr class="fill-shade">
          <th class="txt-align-start font-weight-semibold pad-inline-6 pad-block"><%= t(".user_column") %></th>
          <th class="txt-align-start font-weight-semibold pad-inline-6 pad-block"><%= t(".role_column") %></th>
          <th class="txt-align-start font-weight-semibold pad-inline-6 pad-block"><%= t(".account_status_column") %></th>
          <th class="txt-align-start font-weight-semibold pad-inline-6 pad-block"><%= t(".email_status_column") %></th>
          <th class="txt-align-start font-weight-semibold pad-inline-6 pad-block"><%= t(".ideas_column") %></th>
          <th class="txt-align-start font-weight-semibold pad-inline-6 pad-block"><%= t(".joined_column") %></th>
          <th class="txt-align-center font-weight-semibold pad-inline-6 pad-block"><%= t(".actions_column") %></th>
        </tr>
      </thead>
      <tbody class="divide-y">
        <% if users.any? %>
          <% users.each do |user| %>
            <tr>
              <td class="pad-inline-6 pad-block">
                <div class="flex align-center gap-3">
                  <%= render Elements::AvatarComponent.new(
                    src: user.avatar.attached? ? url_for(user.avatar) : nil,
                    alt: user.name,
                    size: :sm,
                    fallback: user.name[0, 2].upcase
                  ) %>
                  <div style="min-inline-size: 0;">
                    <div class="font-weight-medium overflow-ellipsis">
                      <%= user.name %>
                    </div>
                    <div class="txt-small txt-subtle overflow-ellipsis">
                      <%= user&.identity&.email_address %>
                    </div>
                  </div>
                </div>
              </td>
              <td class="pad-inline-6 pad-block">
                <div class="flex flex-wrap gap-1">
                  <%= render Elements::BadgeComponent.new(
                    variant: user.admin? ? :default : :secondary
                  ) do %>
                    <%= user.role.humanize %>
                  <% end %>
                  <% if user.owner? %>
                    <%= render Elements::BadgeComponent.new(variant: :default) do %>
                      <%= t(".owner_badge") %>
                    <% end %>
                  <% end %>
                </div>
              </td>
              <td class="pad-inline-6 pad-block">
                <%= render Elements::BadgeComponent.new(
                  variant: user.active? ? :default : :destructive
                ) do %>
                  <%= user.active? ? t(".active_badge") : t(".deactivated_badge") %>
                <% end %>
              </td>
              <td class="pad-inline-6 pad-block">
                <%= render Elements::BadgeComponent.new(
                  variant: user&.identity&.email_verified_at&.present? ? :default : :outline
                ) do %>
                  <%= user&.identity&.email_verified_at&.present? ? t(".verified_badge") : t(".unverified_badge") %>
                <% end %>
              </td>
              <td class="pad-inline-6 pad-block">
                <% ideas_count = user.ideas.count %>
                <% if ideas_count > 0 %>
                  <span class="flex-inline align-center txt-x-small font-weight-medium" style="padding-inline: var(--space-2); padding-block: var(--space-1); border-radius: 9999px; background-color: var(--color-secondary); color: var(--color-secondary-foreground);">
                    <%= pluralize(ideas_count, t(".idea_singular"), t(".idea_plural")) %>
                  </span>
                <% else %>
                  <span class="txt-subtle"><%= t(".no_ideas") %></span>
                <% end %>
              </td>
              <td class="txt-subtle pad-inline-6 pad-block">
                <div class="txt-small">
                  <%= user.created_at.strftime("%b %d, %Y") %>
                </div>
                <div class="txt-x-small">
                  <%= time_ago_in_words(user.created_at) %> <%= t(".ago") %>
                </div>
              </td>
              <td class="txt-align-center pad-inline-6 pad-block">
                <%= render Elements::ButtonComponent.new(
                  href: admin_user_path(user),
                  variant: :outline,
                  size: :sm,
                  data: { turbo_frame: "_top" }
                ) do %>
                  <%= t(".view_button") %>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="7" class="txt-align-center" style="padding-inline: var(--space-6); padding-block: var(--space-12);">
              <div class="center size-12 fill-shade flex align-center justify-center" style="margin-block-end: var(--space-4); border-radius: 9999px;">
                <%= lucide_icon "users", class: "size-6 txt-subtle" %>
              </div>
              <h3 class="txt-small font-weight-medium margin-block-end-half"><%= t(".no_users_title") %></h3>
              <p class="txt-small txt-subtle">
                <% if params[:search].present? %>
                  <%= t(".no_users_search") %>
                <% else %>
                  <%= t(".no_users_empty") %>
                <% end %>
              </p>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
  <% end %>
<% end %>

<div class="margin-block-start-double">
  <%= tag.div id: ("users" if first_page?(pagy.last)), class: "flex flex-column", style: "gap: var(--space-4);" do %>
    <div class="txt-align-center txt-small txt-subtle">
      <%== pagy.info_tag %>
    </div>
    <% if pagy.last > 1 %>
      <div class="flex justify-center">
        <%== pagy.series_nav(link_extra: 'data-turbo-frame="users_content"') %>
      </div>
    <% end %>
  <% end %>
</div>
