<%# locals: () %>

<div id="flash_banner" data-turbo-temporary>
  <% if alert = flash[:alert] %>
    <div data-controller="toggle" data-toggle-open-value="true">
      <div data-toggle-target="toggleable" class="flash-banner flash-banner--destructive">
        <%= render Elements::AlertComponent.new(variant: :destructive, icon: "triangle-alert") do %>
          <%= alert %>
        <% end %>
        <button type="button"
                class="flash-banner__dismiss"
                data-toggle-target="trigger"
                data-action="toggle#hide"
                aria-label="<%= t(".dismiss") %>">
          <%= lucide_icon "x" %>
        </button>
      </div>
    </div>
  <% end %>

  <% if notice = flash[:notice] %>
    <div data-controller="toggle" data-toggle-open-value="true">
      <div data-toggle-target="toggleable" class="flash-banner flash-banner--success">
        <%= render Elements::AlertComponent.new(variant: :success, icon: "circle-check") do %>
          <%= notice %>
        <% end %>
        <button type="button"
                class="flash-banner__dismiss"
                data-toggle-target="trigger"
                data-action="toggle#hide"
                aria-label="<%= t(".dismiss") %>">
          <%= lucide_icon "x" %>
        </button>
      </div>
    </div>
  <% end %>
</div>

<div id="flash_toast"
     class="toast-container"
     role="region"
     aria-live="assertive"
     data-turbo-temporary>
</div>
