<%# locals: () %>

<div id="flash_banner" data-turbo-temporary>
  <% if alert = flash[:alert] %>
    <div data-controller="alert"
        class="flex items-center p-4 mb-4 text-red-800 border-t-4 border-red-300 bg-red-50 dark:text-red-400 dark:bg-gray-800 dark:border-red-800"
        role="alert">
      <%= inline_svg "icons/triangle-alert.svg", class: "flex-shrink-0 w-5 h-5" %>
      <div class="ms-3 text-sm font-medium">
        <%= alert %>
      </div>
      <button type="button"
              class="ms-auto -mx-1.5 -my-1.5 bg-red-50 text-red-500 rounded-lg focus:ring-2 focus:ring-red-400 p-1.5 hover:bg-red-200 inline-flex items-center justify-center h-8 w-8 dark:bg-gray-800 dark:text-red-400 dark:hover:bg-gray-700"
              data-action="alert#close"
              aria-label="Close">
        <span class="sr-only">Dismiss</span>
        <%= inline_svg "icons/x.svg", class: "w-5 h-5" %>
      </button>
    </div>
  <% end %>

  <% if notice = flash[:notice] %>
    <div data-controller="alert"
      class="flex items-center p-4 mb-4 text-green-800 border-t-4 border-green-300 bg-green-50 dark:text-green-400 dark:bg-gray-800 dark:border-green-800"
      role="alert">
      <%= inline_svg_tag "icons/circle-check.svg", class: "flex-shrink-0 w-5 h-5" %>
      <div class="ms-3 text-sm font-medium">
        <%= notice %>
      </div>
      <button type="button"
              class="ms-auto -mx-1.5 -my-1.5 bg-green-50 text-green-500 rounded-lg focus:ring-2 focus:ring-green-400 p-1.5 hover:bg-green-200 inline-flex items-center justify-center h-8 w-8 dark:bg-gray-800 dark:text-green-400 dark:hover:bg-gray-700"
              data-action="alert#close"
              aria-label="Close">
        <span class="sr-only">Dismiss</span>
        <%= inline_svg "icons/x.svg", class: "w-5 h-5" %>
      </button>
    </div>
  <% end %>
</div>

<div id="flash_toast"
     data-controller="alert"
     class="pointer-events-none fixed inset-0 z-50 flex flex-col items-end gap-2 p-4 sm:p-6"
     role="region"
     aria-live="assertive"
     data-turbo-temporary>
</div>
