<%# locals: () %>

<footer class="fill border-top">
  <div class="container container--wide pad-double">
    <div class="flex flex-column align-center gap-double" style="--column-gap: var(--space-6);">
      <div class="flex justify-center gap" style="--column-gap: var(--space-6);">
        <%= link_to t(".about"), about_path, class: "txt-subtle txt-undecorated" %>
        <%= link_to t(".privacy"), privacy_path, class: "txt-subtle txt-undecorated" %>
        <%= link_to t(".terms"), terms_path, class: "txt-subtle txt-undecorated" %>

        <a href="https://x.com/FeedbackBin" class="txt-subtle txt-undecorated">
          <span class="visually-hidden"><%= t(".sr_only.twitter") %></span>
          <%= inline_svg_tag "icons/brand/twitter.svg", class: "size-6" %>
        </a>
        <a href="https://github.com/murny/feedbackbin" class="txt-subtle txt-undecorated">
          <span class="visually-hidden"><%= t(".sr_only.github") %></span>
          <%= inline_svg_tag "icons/brand/github.svg", class: "size-6" %>
        </a>
      </div>
      <div>
        <p class="txt-align-center txt-x-small txt-subtle"><%== t(".copyright", year: Date.current.year) %></p>
      </div>
    </div>
  </div>
</footer>
