<%# locals: () %>

<footer class="bg-white dark:bg-gray-900">
  <div class="mx-auto max-w-7xl px-8 py-8 md:flex md:items-center md:justify-between">
    <div class="flex justify-center space-x-6 md:order-2">
      <%= link_to t(".about"), about_path, class: "text-gray-400 hover:text-gray-500 dark:text-gray-500 dark:hover:text-gray-400" %>
      <%= link_to t(".privacy"), privacy_path, class: "text-gray-400 hover:text-gray-500 dark:text-gray-500 dark:hover:text-gray-400" %>
      <%= link_to t(".terms"), terms_path, class: "text-gray-400 hover:text-gray-500 dark:text-gray-500 dark:hover:text-gray-400" %>

      <a href="https://x.com/FeedbackBin" class="text-gray-400 hover:text-gray-500 dark:text-gray-500 dark:hover:text-gray-400">
        <span class="sr-only"><%= t(".sr_only.twitter") %></span>
        <%= inline_svg_tag "icons/brand/twitter.svg", class: "h-6 w-6" %>
      </a>
      <a href="https://github.com/murny/feedbackbin" class="text-gray-400 hover:text-gray-500 dark:text-gray-500 dark:hover:text-gray-400">
        <span class="sr-only"><%= t(".sr_only.github") %></span>
        <%= inline_svg_tag "icons/brand/github.svg", class: "h-6 w-6" %>
      </a>
    </div>
    <div class="mt-8 md:order-1 md:mt-0">
      <p class="text-center text-xs leading-5 text-muted-foreground"><%== t(".copyright", year: Date.current.year) %></p>
    </div>
  </div>
</footer>
