<div class="flex items-center gap">
  <%= link_to "#", class: "flex items-center gap mie-2" do %>
    <%= image_tag "circle-slash.svg", size: 24, aria: { hidden: true } %>
    <span class="font-bold">FeedbackBin</span>
  <% end %>

  <nav class="flex items-center gap text-sm text-subtle show@md" style="--column-gap: 1rem">
    <%= link_to "Docs", "#", class: "text-primary" %>
    <%= link_to "Components", "#" %>
    <%= link_to "Blocks", "#" %>
    <%= link_to "Charts", "#" %>
    <%= link_to "Themes", "#" %>
    <%= link_to "Colors", "#" %>
  </nav>
</div>

<div class="flex items-center gap">
  <button type="button" class="btn avatar">
    <%= image_tag fresh_user_avatar_path(Current.user), size: 48, role: "presentation", class: "h-10 w-10 rounded-full", alt: "" %>
  </button>
</div>