<%= turbo_frame_tag likeable, :likes do %>
  <div class="shrink-0">
    <% if Current.user.present? %>
      <% if likeable.liked_by?(Current.user) %>
        <%= button_to like_path(likeable_type: likeable.class.to_s, likeable_id: likeable.id), method: :patch, class: "flex flex-col items-center text-center w-14 h-14 px-1 py-3 rounded border border-gray-700 bg-gradient-to-tr from-gray-800/20 via-gray-800/50 to-gray-800/20 bg-blue-900" do %>
          <svg class="inline-flex fill-blue-400 mb-1" width="11" height="7" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.664 6.747.336 5.253 5.5.662l5.164 4.591-1.328 1.494L5.5 3.338z">
          </svg>
          <span class="text-xs font-medium text-blue-500"><%= likeable.likes_count %></span>
        <% end %>
      <% else %>
        <%= button_to like_path(likeable_type: likeable.class.to_s, likeable_id: likeable.id), method: :patch, class: "flex flex-col items-center text-center w-14 h-14 px-1 py-3 rounded border border-gray-700 bg-gradient-to-tr from-gray-800/20 via-gray-800/50 to-gray-800/20 hover:bg-gray-800" do %>
          <svg class="inline-flex fill-blue-400 mb-1" width="11" height="7" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.664 6.747.336 5.253 5.5.662l5.164 4.591-1.328 1.494L5.5 3.338z">
          </svg>
          <span class="text-xs font-medium text-blue-500"><%= likeable.likes_count %></span>
        <% end %>
      <% end %>

    <% else %>
      <%= link_to sign_in_path, data: {turbo_frame: :_top} do %>
        <svg class="inline-flex fill-blue-400 mb-1" width="11" height="7" xmlns="http://www.w3.org/2000/svg">
          <path d="M1.664 6.747.336 5.253 5.5.662l5.164 4.591-1.328 1.494L5.5 3.338z">
        </svg>
        <span class="text-xs font-medium text-blue-500"><%= likeable.likes_count %></span>
      <% end %>
    <% end %>
  </div>
<% end %>
