<%# locals: () %>

<div class="flex flex-col gap">
  <%# TODO: providers list should come from global config %>
  <% omniauth_providers = [ "google", "facebook" ] %>
    <% omniauth_providers.each do |provider| %>
      <%= button_to "/auth/#{provider}",
            method: :post,
            data: { turbo: false },
            class: "btn i-full" do %>
        <div class="flex items-center justify-center gap-half">
          <%= inline_svg_tag "icons/#{provider}.svg", width: 16, height: 16 %>
          <span class="text-sm font-medium"><%= t("oauth.sign_in_with", provider: OmniAuth::Utils.camelize(provider)) %></span>
        </div>
      <% end %>
    <% end %>

    <% if Rails.env.development? %>
      <%= button_to "/auth/developer",
            method: :post,
            data: { turbo: false },
            class: "btn i-full" do %>
        <div class="flex items-center justify-center gap-half">
          <%= inline_svg_tag "icons/bot.svg", width: 16, height: 16 %>
          <span class="text-sm font-medium">Developer</span>
      </div>
    <% end %>
  <% end %>
</div>
