<div class="sidebar-menu">
  <% if authenticated? %>
    <div data-controller="popover" data-popover-placement-value="bottom-start">
      <button type="button" class="btn sidebar-menu__button" data-popover-target="button" data-action="popover#toggle">
        <div class="flex shrink-0 overflow-hidden rounded-lg bg-black">
          <%= image_tag "icons/sidebar-logo.svg", class: "colorize-white m-2", size: 16, alt: "ZI" %>
        </div>
        <div class="flex flex-col text-start leading-tight overflow-hidden">
          <span class="overflow-ellipsis font-semibold">Zero Inc</span>
          <span class="overflow-ellipsis text-xs">Enterprise</span>
        </div>
        <%= image_tag "icons/chevrons-up-down.svg", class: "mis-auto colorize-black", size: 16, aria: { hidden: true } %>
      </button>
      <div popover class="popover" style="--popover-size: 14rem;" data-popover-target="menu">
        <div class="menu">
          <div class="menu__header text-xs text-subtle font-semibold">Teams</div>
          <div class="menu__group" role="group">
            <%= link_to "#", class: "btn menu__item", data: { menu_target: "item" }, role: "menuitem" do %>
              <div class="flex size-6 items-center justify-center rounded-sm border">
                <%= image_tag "icons/command.svg", size: 16, aria: { hidden: true }, class: "size-4 shrink-0 colorize-black" %>
              </div>
              <span>Zero Inc</span>
              <span class="menu__item-key">⌘1</span>
            <% end %>
            <%= link_to "#", class: "btn menu__item", data: { menu_target: "item" }, role: "menuitem" do %>
              <div class="flex size-6 items-center justify-center rounded-sm border">
                <%= image_tag "icons/gallery-vertical-end.svg", size: 16, aria: { hidden: true }, class: "size-4 shrink-0 colorize-black" %>
              </div>
              <span>Acme Inc</span>
              <span class="menu__item-key">⌘2</span>
            <% end %>
            <%= link_to "#", class: "btn menu__item", data: { menu_target: "item" }, role: "menuitem" do %>
              <div class="flex size-6 items-center justify-center rounded-sm border">
                <%= image_tag "icons/audio-waveform.svg", size: 16, aria: { hidden: true }, class: "size-4 shrink-0 colorize-black" %>
              </div>
              <span>Acme Corp.</span>
              <span class="menu__item-key">⌘3</span>
            <% end %>
          </div>
          <hr class="menu__separator" role="separator"/>
          <div class="menu__group" role="group">
            <%= link_to "#", class: "btn menu__item", data: { menu_target: "item" }, role: "menuitem" do %>
              <div class="flex size-6 items-center justify-center rounded-md border bg-background">
                <%= image_tag "icons/plus.svg", size: 16, aria: { hidden: true }, class: "size-4 colorize-black" %>
              </div>
              <div class="font-medium text-subtle">Add team</div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="sidebar-menu__content">
      <div class="sidebar-menu__group">
        <div class="sidebar-menu__group-label">Platform</div>
        <div class="sidebar-menu__items">
          <details>
            <summary class="btn sidebar-menu__button">
              <%= image_tag "icons/square-terminal.svg", size: 16, aria: { hidden: true } %>
              <span class="overflow-ellipsis">Playground</span>
            </summary>
            <div class="sidebar-menu__sub">
              <%= link_to "History", "#", class: "btn sidebar-menu__button" %>
              <%= link_to "Starred", "#", class: "btn sidebar-menu__button" %>
              <%= link_to "Settings", "#", class: "btn sidebar-menu__button" %>
            </div>
          </details>
          <details>
            <summary class="btn sidebar-menu__button">
              <%= image_tag "icons/bot.svg", size: 16, aria: { hidden: true } %>
              <span class="overflow-ellipsis">Models</span>
            </summary>
            <div class="sidebar-menu__sub">
              <%= link_to "Genesis", "#", class: "btn sidebar-menu__button" %>
              <%= link_to "Explorer", "#", class: "btn sidebar-menu__button" %>
              <%= link_to "Quantum", "#", class: "btn sidebar-menu__button" %>
            </div>
          </details>
          <details>
            <summary class="btn sidebar-menu__button">
              <%= image_tag "icons/book-open.svg", size: 16, aria: { hidden: true } %>
              <span class="overflow-ellipsis">Documentation</span>
              <%- image_tag "icons/chevron-right.svg", class: "mis-auto", size: 16, aria: { hidden: true } -%>
            </summary>
            <div class="sidebar-menu__sub">
              <%= link_to "Documentation", "#", class: "btn sidebar-menu__button" %>
              <%= link_to "Get Started", "#", class: "btn sidebar-menu__button" %>
              <%= link_to "Tutorials", "#", class: "btn sidebar-menu__button" %>
              <%= link_to "Changelog", "#", class: "btn sidebar-menu__button" %>
            </div>
          </details>
          <details>
            <summary class="btn sidebar-menu__button">
              <%= image_tag "icons/settings-2.svg", size: 16, aria: { hidden: true } %>
              <span class="overflow-ellipsis">Settings</span>
            </summary>
            <div class="sidebar-menu__sub">
              <%= link_to "General", "#", class: "btn sidebar-menu__button" %>
              <%= link_to "Teams", "#", class: "btn sidebar-menu__button" %>
              <%= link_to "Billing", "#", class: "btn sidebar-menu__button" %>
              <%= link_to "Limits", "#", class: "btn sidebar-menu__button" %>
            </div>
          </details>
        </div>
      </div>
      <div class="sidebar-menu__group">
        <div class="sidebar-menu__group-label">Projects</div>
        <div class="sidebar-menu__items">
          <%= link_to "#", class: "btn sidebar-menu__button" do %>
            <%= image_tag "icons/frame.svg", size: 16, aria: { hidden: true } %>
            <span class="overflow-ellipsis">Design Engineering</span>
          <% end %>
          <%= link_to "#", class: "btn sidebar-menu__button" do %>
            <%= image_tag "icons/chart-pie.svg", size: 16, aria: { hidden: true } %>
            <span class="overflow-ellipsis">Sales & Marketing</span>
          <% end %>
          <%= link_to "#", class: "btn sidebar-menu__button" do %>
            <%= image_tag "icons/map.svg", size: 16, aria: { hidden: true } %>
            <span class="overflow-ellipsis">Travel</span>
          <% end %>
          <%= tag.a class: "btn sidebar-menu__button", aria: { disabled: true } do %>
            <%= image_tag "icons/ellipsis.svg", size: 16, aria: { hidden: true } %>
            <span class="overflow-ellipsis">More</span>
          <% end %>
        </div>
      </div>
    </div>
    <div data-controller="popover" data-popover-placement-value="top-start" class="mbs-auto">
      <button type="button" class="btn sidebar-menu__button" popovertarget="popover" data-popover-target="button" data-action="popover#toggle">
        <div class="flex shrink-0 overflow-hidden rounded-lg">
          <%= image_tag fresh_user_avatar_path(Current.user), size: 32, class: "colorize-none", alt: "" %>
        </div>
        <div class="flex flex-col text-start leading-tight overflow-hidden">
          <span class="overflow-ellipsis max-i-full font-semibold"><%= Current.user.name %></span>
          <span class="overflow-ellipsis max-i-full text-xs text-subtle"><%= Current.user.username %></span>
        </div>
        <%= image_tag "icons/chevrons-up-down.svg", class: "mis-auto colorize-black", size: 16, aria: { hidden: true } %>
      </button>
      <div popover class="popover" data-popover-target="menu">
        <div class="menu">
          <div class="text-sm p-0 font-normal">
            <div class="flex items-center gap pi-1 pb-2 text-start text-sm">
              <span class="relative flex shrink-0 overflow-hidden rounded-lg">
                <%= image_tag fresh_user_avatar_path(Current.user), size: 32, class: "aspect-square colorize-none", alt: "" %>
              </span>
              <div class="flex flex-col text-start leading-tight overflow-hidden">
                <span class="overflow-ellipsis max-i-full font-semibold"><%= Current.user.name %></span>
                <span class="overflow-ellipsis max-i-full text-xs text-subtle"><%= Current.user.username %></span>
              </div>
            </div>
          </div>
          <hr class="menu__separator" role="separator"/>
          <div class="menu__group" role="group">
            <%= link_to "#", class: "btn menu__item", data: { menu_target: "item" }, role: "menuitem" do %>
              <%= image_tag "icons/sparkles.svg", size: 16, aria: { hidden: true }, class: "size-4 shrink-0 colorize-black" %>
              <span>Upgrade to Pro</span>
            <% end %>
          </div>
          <hr class="menu__separator" role="separator"/>
          <div class="menu__group" role="group">
            <%= link_to "#", class: "btn menu__item", data: { menu_target: "item" }, role: "menuitem" do %>
              <%= image_tag "icons/badge-check.svg", size: 16, aria: { hidden: true }, class: "size-4 shrink-0 colorize-black" %>
              <span>Account</span>
            <% end %>
            <%= link_to "#", class: "btn menu__item", data: { menu_target: "item" }, role: "menuitem" do %>
              <%= image_tag "icons/credit-card.svg", size: 16, aria: { hidden: true }, class: "size-4 shrink-0 colorize-black" %>
              <span>Billing</span>
            <% end %>
            <%= link_to "#", class: "btn menu__item", data: { menu_target: "item" }, role: "menuitem" do %>
              <%= image_tag "icons/bell.svg", size: 16, aria: { hidden: true }, class: "size-4 shrink-0 colorize-black" %>
              <span>Notifications</span>
            <% end %>
          </div>
          <hr class="menu__separator" role="separator"/>
          <div class="menu__group" role="group">
            <%= link_to "#", class: "btn menu__item", data: { menu_target: "item" }, role: "menuitem" do %>
              <%= image_tag "icons/log-out.svg", size: 16, aria: { hidden: true }, class: "size-4 shrink-0 colorize-black" %>
              <span>Log out</span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <div class="sidebar-menu__content flex flex-col gap">
      <div class="sidebar-menu__group">
        <div class="sidebar-menu__group-label"><%= t(".account") %></div>
        <div class="sidebar-menu__items flex flex-col gap-2">
          <%= link_to sign_in_path, class: "btn btn--secondary i-full" do %>
            <%= image_tag "icons/log-in.svg", size: 16, aria: { hidden: true } %>
            <span><%= t(".sign_in") %></span>
          <% end %>

          <%= link_to sign_up_path, class: "btn btn--primary i-full" do %>
            <%= image_tag "icons/user-plus.svg", size: 16, aria: { hidden: true } %>
            <span><%= t(".sign_up") %></span>
          <% end %>
        </div>
      </div>

      <div class="sidebar-menu__group">
        <div class="sidebar-menu__group-label"><%= t(".learn_more") %></div>
        <div class="sidebar-menu__items">
          <%= link_to "#", class: "btn sidebar-menu__button" do %>
            <%= image_tag "icons/book-open.svg", size: 16, aria: { hidden: true } %>
            <span class="overflow-ellipsis"><%= t(".documentation") %></span>
          <% end %>

          <%= link_to "#", class: "btn sidebar-menu__button" do %>
            <%= image_tag "icons/circle-help.svg", size: 16, aria: { hidden: true } %>
            <span class="overflow-ellipsis"><%= t(".help") %></span>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
