<% content_for(:title) { t(".update_your_password") } %>

<div class="flex min-h-svh flex-col items-center justify-center gap-6 p-6 md:p-10">
  <div class="flex w-full max-w-sm flex-col gap-6">
    <%= link_to root_path, class: "flex items-center gap-2 self-center font-medium" do %>
      <%= inline_svg_tag "mark.svg", class: "h-8 w-8 text-blue-500" %>
      <span class="font-bold text-blue-500">FeedbackBin</span>
    <% end %>

    <div class="card flex flex-col gap-6 py-6">
      <header class="px-6 text-center space-y-1.5">
        <h1 class="font-semibold text-xl"><%= t(".update_your_password") %></h1>
        <p class="text-muted-foreground text-sm"><%= t(".description") %></p>
      </header>

      <div class="px-6 grid gap-4">
        <%= form_with url: users_password_reset_path(params[:token]), method: :put, class: "grid gap-6" do |form| %>
          <div class="grid gap-3">
            <%= form.label :password, t(".new_password"), class: "text-sm font-medium leading-none" %>
            <%= form.password_field :password,
                                    required: true,
                                    autofocus: true,
                                    autocomplete: "new-password",
                                    placeholder: t(".new_password_placeholder"),
                                    minlength: User::MIN_PASSWORD_LENGTH_ALLOWED,
                                    maxlength: User::MAX_PASSWORD_LENGTH_ALLOWED %>
          </div>

          <div class="grid gap-3">
            <%= form.label :password_confirmation, t(".confirm_new_password"), class: "text-sm font-medium leading-none" %>
            <%= form.password_field :password_confirmation,
                                    required: true,
                                    autocomplete: "new-password",
                                    placeholder: t(".confirm_new_password_placeholder"),
                                    minlength: User::MIN_PASSWORD_LENGTH_ALLOWED,
                                    maxlength: User::MAX_PASSWORD_LENGTH_ALLOWED %>
          </div>

          <%= form.submit t(".update_password"), class: "btn w-full" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
