<% content_for(:title) { t(".update_your_password") } %>

<div class="container container--centered container--stack">
  <%= render "shared/auth_branding" %>

  <div class="panel">
    <header class="panel__header--centered">
      <h1 class="font-weight-bold txt-x-large"><%= t(".update_your_password") %></h1>
      <p class="txt-subtle txt-small margin-block-start-half"><%= t(".description") %></p>
    </header>

    <div class="panel__content panel__content--stack">
      <%= form_with url: users_password_reset_path(params[:token]), method: :put, class: "grid", style: "gap: var(--space-6);" do |form| %>
        <div class="grid gap-3">
          <%= form.label :password, t(".new_password"), class: "txt-small font-weight-medium" %>
          <%= form.password_field :password,
                                  required: true,
                                  autofocus: true,
                                  autocomplete: "new-password",
                                  placeholder: t(".new_password_placeholder"),
                                  minlength: Identity::MIN_PASSWORD_LENGTH,
                                  maxlength: Identity::MAX_PASSWORD_LENGTH %>
        </div>

        <div class="grid gap-3">
          <%= form.label :password_confirmation, t(".confirm_new_password"), class: "txt-small font-weight-medium" %>
          <%= form.password_field :password_confirmation,
                                  required: true,
                                  autocomplete: "new-password",
                                  placeholder: t(".confirm_new_password_placeholder"),
                                  minlength: Identity::MIN_PASSWORD_LENGTH,
                                  maxlength: Identity::MAX_PASSWORD_LENGTH %>
        </div>

        <%= form.submit t(".update_password"), class: "btn full-width" %>
      <% end %>
    </div>
  </div>
</div>
