<% content_for(:title) { t(".update_your_password") } %>

<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <h1 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-foreground">
      <%= t(".update_your_password") %>
    </h1>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <%= form_with url: users_password_reset_path(params[:token]), method: :put, class: "space-y-6" do |form| %>
      <div>
        <%= form.label :password, "New password" %>
        <%= form.password_field :password, required: true, autofocus: true, autocomplete: "new-password", placeholder: t(".new_password_placeholder"), minlength: 10, maxlength: 72 %>
      </div>

      <div>
        <%= form.label :password_confirmation, "Confirm new password" %>
        <%= form.password_field :password_confirmation, required: true, autocomplete: "new-password", placeholder: t(".confirm_new_password_placeholder"), minlength: 10, maxlength: 72 %>
      </div>

      <div>
        <%= form.submit t(".update_your_password"), class: "btn-block" %>
      </div>
    <% end %>
  </div>
</div>
