<% content_for(:title) { t(".forgot_your_password") } %>

<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <h1 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900 dark:text-white">
      <%= t(".forgot_your_password") %>
    </h1>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <%= form_with url: users_password_resets_path, class: "space-y-6" do |form| %>
      <div>
        <%= form.label :email_address %>
        <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "email", placeholder: t(".email_address_placeholder"), value: params[:email_address] %>
      </div>

      <div>
        <%= form.submit t(".email_reset_instructions"), class: "btn-block" %>
      </div>
    <% end %>
  </div>
</div>
