<%# locals: (voteable:) %>

<div class="vote">
  <% if authenticated? %>
    <%= turbo_frame_tag voteable, :vote_button do %>
      <% if voteable.voted_by?(Current.user) %>
        <%= button_to voteable_vote_path(voteable),
              method: :patch,
              class: "vote__trigger btn btn--secondary" do %>
          <%= lucide_icon "chevron-up", class: "vote__icon" %>
          <span class="vote__count"><%= voteable.votes_count %></span>
        <% end %>
      <% else %>
        <%= button_to voteable_vote_path(voteable),
              method: :patch,
              class: "vote__trigger btn btn--ghost" do %>
          <%= lucide_icon "chevron-up", class: "vote__icon" %>
          <span class="vote__count"><%= voteable.votes_count %></span>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <%= link_to sign_in_path,
          data: { turbo_frame: :_top },
          class: "vote__trigger btn btn--ghost" do %>
      <%= lucide_icon "chevron-up", class: "vote__icon" %>
      <span class="vote__count"><%= voteable.votes_count %></span>
    <% end %>
  <% end %>
</div>
