<div class="p-4 lg:p-10" id="<%= dom_id(changelog) %>">
  <%= link_to changelog_path(changelog), class: "text-gray-400 text-sm font-medium capitalize" do %>
    <%= local_datetime_tag changelog.published_at, style: :datetime %>
  <% end %>

  <h2 class="font-semibold text-gray-900 text-lg mb-2 dark:text-gray-100"><%= changelog.title %></h2>
  <%= tag.div class: "mb-2 #{changelog_color(changelog)}" %>
    <%= changelog.kind.humanize.titleize %>
  <% end %>

  <div class="text-gray-700 text-sm dark:text-gray-300">
    <%= changelog.description %>
  </div>
</div>
