<%# locals: (changelog:) %>

<div id="<%= dom_id(changelog) %>" class="px-6">
  <div class="flex items-center justify-between gap-3 mb-4">
    <%= link_to changelog_path(changelog), class: "text-sm text-muted-foreground hover:text-foreground font-medium" do %>
      <%= local_datetime_tag changelog.published_at, style: :datetime %>
    <% end %>
    <%= render Elements::BadgeComponent.new(
      variant: changelog_badge_variant(changelog.kind)
    ) do %>
      <%= changelog.kind.humanize.titleize %>
    <% end %>
  </div>

  <h2 class="text-xl font-semibold mb-4 text-foreground leading-tight">
    <%= link_to changelog.title, changelog_path(changelog), class: "hover:underline" %>
  </h2>

  <div class="prose prose-sm max-w-none text-muted-foreground leading-relaxed" data-controller="syntax-highlight">
    <%= changelog.description %>
  </div>
</div>
