<%= content_for :title, t(".title") %>

<section class="center pad-inline" style="margin-block-start: var(--space-6);">
  <div class="container container--stack">
    <div class="txt-align-center">
      <h1 class="txt-xx-large font-weight-bold page-header__title"><%= t(".title") %></h1>
      <p class="txt-subtle txt-medium"><%= t(".description", name: Rails.application.config.app_name) %></p>
    </div>

    <% if @changelogs.empty? %>
      <%= render Elements::PanelComponent.new do |c| %>
        <% c.with_body(class: "pad") do %>
          <%= render Elements::EmptyStateComponent.new(
            icon: "scroll-text",
            title: t(".empty_placeholder"),
            description: t(".empty_description")
          ) %>
        <% end %>
      <% end %>
    <% else %>
      <div class="flex flex-column gap-4">
        <% @changelogs.each do |changelog| %>
          <%= render Elements::PanelComponent.new do |c| %>
            <% c.with_body do %>
              <%= render changelog %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <% if @pagy.last > 1 %>
      <div class="flex align-center justify-space-between pad-inline" style="padding-block: var(--space-3);">
        <%== @pagy.info_tag %>
        <%== @pagy.series_nav %>
      </div>
    <% end %>
  </div>
</section>
