<%= tag.div(**options) do %>
  <% items.each do |item| %>
    <details class="<%= item_classes %>">
      <summary class="<%= trigger_classes %>">
        <%= item[:trigger] %>
        <%= lucide_icon "plus", class: "size-5 flex-none ml-4 mt-0.5 text-muted-foreground group-open:text-primary group-open:hidden block" %>
        <%= lucide_icon "minus", class: "size-5 flex-none ml-4 mt-0.5 text-muted-foreground group-open:text-primary group-open:block hidden" %>
      </summary>
      <div class="<%= content_classes %>">
        <%= item[:content] %>
      </div>
    </details>
  <% end %>
<% end %>
