<!DOCTYPE html>
<html class="h-full bg-background overscroll-none font-sans antialiased">
  <head>
    <title><%= content_for(:title) || "FeedbackBin" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="FeedbackBin">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="h-full flex flex-col" data-controller="local-time lightbox">
    <div class="flex flex-col flex-1">
      <%= render "navbar" %>
      <%= render "flash" %>
      <% if content_for?(:content) %>
        <%= yield(:content) %>
      <% else %>
        <main class="container mx-auto px-4 sm:px-6 lg:px-8">
          <%= yield %>
        </main>
      <% end %>
    </div>
    <%= render partial: "footer" %>
  </body>
</html>
