<!DOCTYPE html>
<html class="antialiased overscroll-none" style="font-family: var(--font-sans);">
  <%= render "shared/head" %>

  <%= tag.body class: "flex flex-column",
        style: "min-block-size: 100%;",
        data: {
          controller: "local-time lightbox theme-application",
          theme_application_preference_value: Current.user&.theme || "system"
        } do %>
    <% if content_for?(:sidebar) %>
      <!-- Admin layout with sidebar -->
      <%= yield(:sidebar) %>
      <div class="flex flex-column flex-1 admin-main-offset">
        <%= render "navbar" %>
        <%= render "flash" %>
        <div class="fill-shade flex-item-grow">
          <main class="center pad-inline">
            <%= yield %>
          </main>
        </div>
        <%= render partial: "footer" %>
      </div>
    <% else %>
      <!-- Normal layout without sidebar -->
      <div class="flex flex-column flex-1">
        <%= render "navbar" %>
        <%= render "flash" %>
        <div class="fill-shade flex-item-grow">
          <main class="center pad-inline">
            <%= yield %>
          </main>
        </div>
        <%= render partial: "footer" %>
      </div>
    <% end %>
  <% end %>
</html>
