<!DOCTYPE html>
<html class="h-full bg-background overscroll-none font-sans antialiased">
  <%= render "shared/head" %>

  <%= tag.body class: "h-full flex flex-col",
        data: {
          controller: "local-time lightbox theme-application",
          theme_application_preference_value: Current.user&.theme || "system"
        } do %>
    <% if content_for?(:sidebar) %>
      <!-- Admin layout with sidebar -->
      <%= yield(:sidebar) %>
      <div class="flex flex-col flex-1 lg:pl-72">
        <%= render "navbar" %>
        <%= render "flash" %>
        <div class="bg-muted flex-1">
          <main class="container mx-auto px-4 sm:px-6 lg:px-8 py-8">
            <%= yield %>
          </main>
        </div>
        <%= render partial: "footer" %>
      </div>
    <% else %>
      <!-- Normal layout without sidebar -->
      <div class="flex flex-col flex-1">
        <%= render "navbar" %>
        <%= render "flash" %>
        <div class="bg-muted flex-1">
          <main class="container mx-auto px-4 sm:px-6 lg:px-8 py-8">
            <%= yield %>
          </main>
        </div>
        <%= render partial: "footer" %>
      </div>
    <% end %>
  <% end %>
</html>
