<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "FeedbackBin" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag :all, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="h-full font-sans antialiased font-normal leading-normal bg-gray-50">
    <div class="main flex flex-col">
      <header>
        <%= render "shared/navbar" %>
        <%= render "shared/flash" %>
      </header>
      <main class="px-3 lg:px-0 h-full">
        <%= yield %>
      </main>
    </div>
    <%#= render partial: "footer" %>
  </body>
</html>
