<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "FeedbackBin" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="FeedbackBin">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
  </head>

  <body data-controller="local-time fullscreen lightbox">
    <div class="sidebar-layout">
      <header class="justify-between" id="header">
        <%= render "mobile_menu" %>
        <%= render "header_menu" %>
      </header>

      <aside id="sidebar">
        <%= render "sidebar_menu" %>
      </aside>

      <main id="main">
        <section class="mbe-auto flex flex-col gap">
          <%= render "flash" %>

          <%= yield %>
        </section>

        <%= render partial: "footer" %>
      </main>
    </div>
  </body>
</html>
