<!DOCTYPE html>
<html class="h-full overscroll-none font-sans antialiased">
  <head>
    <title>ViewComponent Preview</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <%
    # Get theme from Lookbook display options (defaults to light)
    theme = params.dig(:lookbook, :display, :theme) || "light"
  %>

  <%= tag.body class: "h-full p-8 bg-white dark:bg-slate-950",
        data: {
          controller: "theme-application",
          theme_application_preference_value: theme
        } do %>
    <%= yield %>
  <% end %>
</html>
