<% content_for(:content) do %>
 <div class="pad-inline" style="padding-inline: var(--space-6);">
    <div class="center" style="max-inline-size: 80rem;">
      <div class="center flex align-start" style="max-inline-size: 36rem; gap: var(--space-12);">
        <%= render "staff/sidebar" %>

        <main class="min-width flex-1" style="padding-block-end: var(--space-16);">
          <div style="<%= content_for?(:component_nav) ? "max-inline-size: 42rem;" : "inline-size: 100%;" %>">
            <%= yield %>
          </div>
        </main>

        <% if content_for?(:component_nav).present? %>
          <%= yield :component_nav %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<%= render template: "layouts/application" %>
