<% content_for(:title) { t(".title") } %>

<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <h1 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900 dark:text-white"><%= t(".create_your_account_html") %></h1>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <%= form_with url: users_registrations_path, class: "space-y-6" do |form| %>
      <%= render "error_messages", resource: @user %>

      <div>
        <%= form.label :name, class: "form-label" %>
        <div class="mt-2">
          <%= form.text_field :name, required: true, autofocus: true, autocomplete: "name", placeholder: t(".name_placeholder"), class: "form-input" %>
        </div>
      </div>

      <div>
        <%= form.label :email_address, class: "form-label" %>
        <div class="mt-2">
          <%= form.email_field :email_address, required: true, autocomplete: "email", placeholder: t(".email_address_placeholder"), class: "form-input" %>
        </div>
      </div>

      <div>
        <%= form.label :password, class: "form-label" %>
        <div class="mt-2">
          <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: t(".password_placeholder"), class: "form-input" %>
        </div>
        <p class="mt-3 text-sm leading-6 text-gray-600 dark:text-gray-400"><%= t(".password_hint") %></p>
      </div>

      <div>
        <%= form.submit t(".create_account"), class: "btn btn-primary btn-block" %>
      </div>
    <% end %>

    <p class="mt-10 text-center text-sm text-gray-500 dark:text-gray-400">
      <%= t(".already_have_an_account") %>
      <%= link_to t(".login"), sign_in_path, class: "font-semibold leading-6 text-indigo-600 hover:text-indigo-500 dark:text-indigo-400 dark:hover:text-indigo-300" %>
    </p>
  </div>
</div>
